## Dependencies

In [3]:
# Confirmed needed dependencies
import pprint
import pandas as pd
import requests
import json

# Dependencies for geocoordinates generator
import sys
import random
import math
import gmplot

# Dependencies for conversion of coordinates to addresses
import geopy
from geopy.geocoders import Nominatim
import time

# Dependencies for Zillow data
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults, GetUpdatedPropertyDetails

# Dependency for Heat Mapper
import gmaps


# Add config.py file with the following variables and cooresponding Zillow API keys
from config import Zapi, Zapi01, Zapi02, Zapi03, Zapi04, Zapi05, Zapi06, Zapi07, Zapi08, Zapi09, Zapi10, Zapi11, Zapi12, Zapi13, Zapi14, Zapi15, Zapi16, Zapi17, Zapi18, Zapi19, Zapi20, Ztroy1, Ztroy2, Ztroy3, Zseth, Zseth2, Zkat, Zval, Zyuta
# from config import google_API_Key
# from config import census_API_Key

################# ONGOING EDITS TO REQUIREMENTS.MD #################
###### IF ANY ERRORS OCCUR RELATING TO MODULES OR CONFIG.PY #######
### REFER TO requirements.md TO ENSURE YOU ARE PROPERLY SETUP ####

ModuleNotFoundError: No module named 'config'

## File inputs/outputs

In [5]:
masterDataCLEAN_csv = "./Data/masterDataCLEAN.csv"


randLatLon_csv = "./Data/randomLatLon.csv" 
addressList_csv = "./Data/addressList.csv"
masterData_csv = "./Data/masterData.csv"
masterDFIMPORTclean_csv = "./Data/masterDFIMPORTclean.csv"
masterData100_csv = "./Data/masterData100.csv"
masterData1000_csv = "./Data/masterData1000.csv"

## Helpful Functions

In [4]:
#############################
##### VALERIE'S BLOCKS #####
###########################

# Funtion for reading CSV in as DataFrame
def csvDF(oldCSVfilepath):
    csvIN = pd.read_csv(oldCSVfilepath)
    DF = pd.DataFrame(csvIN)
    return DF

# Function for converting DataFrame to CSV
def DFcsv(dataframe, newCSVfilepath):
    dataframe.to_csv(newCSVfilepath, index=False, header=True)
    print(f"Successfully written to '{newCSVfilepath}'")
    
# Function for reading in csv, checking for headers, and appending if appropriate
def csvDFappend(oldCSVfilepath, newColumn):
    csvIN = pd.read_csv(oldCSVfilepath)
    DF = pd.DataFrame(csvIN)
    # Checking to ensure new header name does not match any current headers
    colNames = DF.columns
    for value in colNames:
        if value == newColumn:
            print("Cannot append column that matches an existing column name")
            return DF
    # Check to ensure length of newColumn matches length of current dataframe columns
    if len(newColumn) != len(DF):
        print("Cannot append column that is not the same length as existing dataframe")
        return DF
    # Append newColumn to Dataframe
    DF[newColumn] = newColumn
    return DF

## Geocoordinates of Austin

In [ ]:
##########################################
# this section written by troy bailey.   #
# enter uservariables below to determine #
# center location, radius of circle, and #
# number of geocoordinates to generate.  #
##########################################

In [ ]:
########################
#### USER VARIABLES ####
########################

x0 = 30.27444       #### Set center coordiantes in decimal degrees
y0 = -97.74028      #### initial coordiantes are location of Texas State Capitol Building

radius = 20         #### Set radius in miles

points = 40000        #### Set number of lat,lon points to generate

In [ ]:
# variables and inputs for coordinate calculations
lat_lon_list = []
radiusInDegrees=radius/69           
r = radiusInDegrees
points += 1

In [ ]:
# calculate each coordiante point and build a list of lat and lon
for i in range(1, points):
    u = float(random.uniform(0.0,1.0)) #random number for radius length
    v = float(random.uniform(0.0,1.0)) #random number for pi radians
    
    w = r * math.sqrt(u) #radius length
    t = 2 * math.pi * v  #radians
    x = w * math.cos(t)  #calculate x coord distance
    y = w * math.sin(t)  #calculate y coord distance
    
    xLat  = x + x0       #offset x by center x
    yLon = y + y0        #offset y by center y
    
    lat_lon_list.append([xLat,yLon])

# convert list to dataframe
lat_lon_df = pd.DataFrame(lat_lon_list, columns=['lat','lon'])

lat_lon_df.head()

len(lat_lon_df)

In [ ]:
# write a CSV file of coordinate points
lat_lon_df.to_csv(randLatLon_csv, index=False, header=True)

## Plot coordinate points on map

In [16]:
# This cell by Troy
# This section will plot points on a Google map centered at centerPointLat and centerPointLon with a magnification of magFactor
# It assumes there is a dataframe with "lat" and "lon" columns
# The resulting map is saved to a file called 

lat_lon_df = pd.read_csv("./Data/Archived/randomLatLon.csv")
centerPointLat = 30.27444  #these are the coordinates of the Texas State Capitol building
centerPointLon = -97.74028 #these are the coordinates of the Texas State Capitol building
magnificationFactor = 10
pointColor = "red"
pointSize = 100
mapOutputFile = "randLatLonMap.html"
df = lat_lon_df

gmap = gmplot.GoogleMapPlotter(centerPointLat, centerPointLon, magnificationFactor)

gmap.scatter(df["lat"], df["lon"], pointColor, size=pointSize, marker=False)

gmap.draw("./Presentation/" + mapOutputFile)

len(df)

40000

## Convert Coordinates to Residential Addresses

In [ ]:
#########################
##### Yuta's Blocks #####
#########################

##### Geopy Nominatim API #####
geopy.geocoders.options.default_user_agent = "ut-group-EPIC"

pp = pprint.PrettyPrinter(indent=4)

url = "https://nominatim.openstreetmap.org/reverse?"

In [ ]:
# Test API - Known Residential Address
params_1 = {
    "format": "jsonv2",
    "lat": 30.440777,
    "lon": -97.777048
}

print("===== Test Home Response:")
response = requests.get(url, params=params_1).json()
pp.pprint(response)
print("\n" + "="*60 + "\n")

In [ ]:
# Import CSV, put into DataFrame
latlon_df = pd.read_csv(randLatLon_csv)
latlon_df.head()

In [ ]:
# Put latitudes and longitudes into a zip object
lats = latlon_df.iloc[:, 0]
lons = latlon_df.iloc[:, 1]
lat_lons = []
lat_lons = zip(lats, lons)

In [ ]:
##### Loop Request API for Addresses / Append to lists #####
# Make sure to import time

query_url = "https://nominatim.openstreetmap.org/reverse?"

house_num = []
road = []
postcode = []
lat = []
lon = []
neighborhood = []

counter = 1
numRequests = latlon_df["lat"].count()
rSuccess = []
rFailure = []

print(f"Processing {numRequests} Requests...")

# Nominatim API Request

for lat_lon in lat_lons:
    params = {
        "format": "jsonv2",
        "lat": lat_lon[0],
        "lon": lat_lon[1]
    }

    time.sleep(1.1)
    response = requests.get(query_url, params=params).json()

    if response['type'] == 'house' or response['type'] == 'yes':
        lat.append(response['lat'])
        lon.append(response['lon'])
        
        try:
            postcode.append(response['address']['postcode'])
        except (KeyError, IndexError):
            postcode.append("NA")
        try:
            house_num.append(response['address']['house_number'])
        except (KeyError, IndexError):
            house_num.append("NA")
        try:
            road.append(response['address']['road'])
        except (KeyError, IndexError):
            road.append("NA")
        try:
            neighborhood.append(response['address']['neighbourhood'])
        except (KeyError, IndexError):
            neighborhood.append("NA")
        
        print(f"Processed Record {counter} of {numRequests}.")
        rSuccess.append(counter)
        counter += 1
        
    else:
        print(f"Wrong Type - Skipped Record {counter} of {numRequests}.")
        rFailure.append(counter)
        counter += 1
        
print(f"Finished Requests !!!")

In [ ]:
print("Request Results:")
print("Success #:" + str(len(rSuccess)))
print("Skipped #:" + str(len(rFailure)))

In [ ]:
# Create dataframe with addresses from API requests
address_df = pd.DataFrame({
    "house #": house_num,
    "street": road,
    "zipcode": postcode,
    "lat": lat,
    "lon": lon,
    "neighborhood": neighborhood,
})

# Clean up Dataframe Columns before output (Drop incomplete zipcodes, Highway streets, and Null house # or streets)
address_df = address_df[address_df['zipcode'].str.len() == 5]
address_df = address_df[address_df['zipcode'].apply(lambda x: len(str(x)) > 3)]
address_df = address_df[address_df['street'].str.contains("Highway") == False]
address_df = address_df[address_df['house #'].str.contains("NA") == False]
address_df = address_df[address_df['street'].str.contains("NA") == False]
address_df.dtypes

In [ ]:
# write a CSV file of addresses
address_df.to_csv(addressList_csv, index=False, header=True)

In [ ]:
# Map out CSV with gmplot

addressList_csv = "./Data/addressList.csv"

gmap = gmplot.GoogleMapPlotter(30.27444, -97.74028, 10)

gmap.scatter(addressList_csv["lat"], addressList_csv["lon"], 'red', size=20, marker=False)

gmap.draw("./Visuals/myaddressmap.html")

## Plot Addresses on a Map

In [19]:
# This cell by Troy
# This section will plot points on a Google map centered at centerPointLat and centerPointLon with a magnification of magFactor
# It plots the addresses we have selected from the random Lat Lon points
# The resulting map is saved to a file called addressMap.html

address_df = pd.read_csv("./Data/Archived/addressList.csv")
centerPointLat = 30.27444  #these are the coordinates of the Texas State Capitol building
centerPointLon = -97.74028 #these are the coordinates of the Texas State Capitol building
magnificationFactor = 10
pointColor = "blue"
pointSize = 100
mapOutputFile = "addressMap.html"
df = address_df

gmap = gmplot.GoogleMapPlotter(centerPointLat, centerPointLon, magnificationFactor)

gmap.scatter(df["lat"], df["lon"], pointColor, size=pointSize, marker=False)

gmap.draw("./Presentation/" + mapOutputFile)

len(df)

20177

## Zillow API Calls using Address and Zipcode

In [ ]:
#############################
##### VALERIE'S BLOCKS #####
###########################

# Function for reading in csv, checking for headers, and appending if appropriate
def csvDFappend(oldCSVfilepath, newColumn):
    csvIN = pd.read_csv(oldCSVfilepath)
    DF = pd.DataFrame(csvIN)
    # Checking to ensure new header name does not match any current headers
    colNames = DF.columns
    for value in colNames:
        if value == newColumn:
            print("Cannot append column that matches an existing column name")
            return DF
    # Check to ensure length of newColumn matches length of current dataframe columns
    if len(newColumn) != len(DF):
        print("Cannot append column that is not the same length as existing dataframe")
        return DF
    # Append newColumn to Dataframe
    DF[newColumn] = newColumn
    return DF

In [ ]:
### TEST BLCOK FOR FUNCTION ELEMENTS OF csvDFappend ###

colNames = masterDFIMPORTclean.columns
newCol = "zipcode"
for value in colNames:
    print(value)
    if value == newCol:
        print("Cannot append column that matches an existing column name")
        break
        
if len(address_df["zipcode"]) != len(masterDFIMPORTclean):
    print("Cannot append column that is not the same length as existing dataframe")

In [ ]:
# Tiny sample to work with looping without exhausting API call limits
addressListTiny_csv = "./Data/addressListTiny.csv"

address_sample = pd.read_csv(addressListTiny_csv)
address_df = pd.DataFrame(address_sample)
print(len(address_df))

In [6]:
# Funtion for reading CSV in as DataFrame
def csvDF(oldCSVfilepath):
    csvIN = pd.read_csv(oldCSVfilepath)
    DF = pd.DataFrame(csvIN)
    return DF

# Function for converting DataFrame to CSV
def DFcsv(dataframe, newCSVfilepath):
    newCSVfilepath = pd.to_csv(dataframe)
    print(f"{dataframe} successfully written to {newCSVfilepath}")

In [8]:
##################################################################################################  EXPLORING katSampleData.csv
playDF = csvDF("../Data/Archived/katSampleData.csv")
playDF.columns

Index(['zid', 'address', 'zipcode', 'alat', 'alon', 'valuation',
       'value_change', 'value_range_high', 'value_range_low',
       'value_percentile', 'sqft', 'lot_sqft', 'year_built', 'bathrooms',
       'bedrooms', 'last_sold_date', 'last_sold_price'],
      dtype='object')

In [ ]:
columns2drop = ["value_percentile", "bedrooms", "bathrooms"]

In [9]:
playDF.sort_values("year_built")

,zid,address,zipcode,alat,alon,valuation,value_change,value_range_high,value_range_low,value_percentile,sqft,lot_sqft,year_built,bathrooms,bedrooms,last_sold_date,last_sold_price
264,70342502,2307 Kinney Road,78704,30.245655,-97.773194,823490.0,-10761.0,938779.0,782316.0,0,2450.0,16117.0,1904.0,NaN,4.0,NaN,NaN
190,29400584,3913 Avenue F,78751,30.302324,-97.730904,868539.0,-15928.0,1007505.0,781685.0,0,2450.0,10000.0,1906.0,NaN,4.0,NaN,NaN
147,29406697,5304 Bennett Avenue,78751,30.313371,-97.712326,386134.0,-9050.0,436331.0,332075.0,0,1122.0,9147.0,1918.0,NaN,2.0,06/21/2016,461500.0
68,29459138,1611 Nickerson Street,78704,30.246782,-97.749181,1008679.0,-46082.0,1099460.0,857377.0,0,2444.0,4452.0,1920.0,NaN,4.0,NaN,NaN
133,29329271,806 Theresa Avenue,78703,30.280340,-97.765907,667025.0,-22874.0,720387.0,620333.0,0,1348.0,6011.0,1923.0,NaN,3.0,03/10/2016,NaN
91,29398262,3504 Duval Street,78751,30.298054,-97.730640,504375.0,-29812.0,549769.0,464025.0,0,1100.0,8363.0,1924.0,NaN,2.0,NaN,NaN
184,62605359,103 Brazos Street,78701,30.265890,-97.741957,552673.0,-21267.0,784796.0,491879.0,0,1319.0,788.0,1925.0,NaN,1.0,NaN,NaN
74,29382543,1204 Taylor Street,78702,30.256762,-97.733412,454525.0,-2700.0,477251.0,431799.0,0,852.0,5749.0,1929.0,NaN,1.0,12/09/2015,NaN
31,122962433,6606 Hergotz Lane,78742,30.245467,-97.684546,286423.0,12931.0,326522.0,252052.0,0,1792.0,7406.0,1932.0,NaN,4.0,NaN,NaN
3,29400629,807 Park Boulevard,78751,30.301584,-97.722499,556665.0,-39191.0,629031.0,517698.0,0,1905.0,12685.0,1936.0,NaN,NaN,NaN,NaN
12,29398288,511 Harris Avenue,78705,30.295460,-97.730816,505603.0,326.0,546051.0,480323.0,0,1728.0,5131.0,1937.0,NaN,NaN,NaN,NaN
225,29333307,1810 Niles Road,78703,30.287859,-97.760931,826165.0,-15494.0,999660.0,760072.0,0,1044.0,7553.0,1938.0,NaN,NaN,NaN,NaN
26,29386902,3401 Oak Springs Drive,78721,30.273597,-97.696247,361706.0,-15014.0,408728.0,325535.0,0,1365.0,8189.0,1938.0,NaN,3.0,03/28/2014,128000.0
197,29340190,1819 West 38th Street,78731,30.311103,-97.753316,839333.0,4513.0,923266.0,780580.0,0,1624.0,10001.0,1939.0,NaN,3.0,06/10/2005,235000.0
170,29404965,4304 Marathon Boulevard,78756,30.311979,-97.740339,514786.0,1135.0,540525.0,489047.0,0,1396.0,6534.0,1940.0,NaN,3.0,09/17/2012,NaN
42,29337756,3703 Jefferson Street,78731,30.308270,-97.750856,NaN,NaN,NaN,NaN,0,1632.0,8198.0,1940.0,NaN,NaN,NaN,NaN
283,29336059,3218 Clearview Drive,78703,30.296323,-97.774712,1283415.0,29029.0,1411756.0,1129405.0,0,3398.0,10668.0,1940.0,NaN,4.0,NaN,NaN
128,29402939,4101 Ramsey Avenue,78756,30.311634,-97.746008,492202.0,-5600.0,516812.0,467592.0,0,1062.0,6896.0,1940.0,NaN,NaN,NaN,NaN
143,29364603,8904 Yucca Mountain Road,78759,30.400079,-97.782530,462783.0,2602.0,509061.0,407249.0,0,1878.0,136778.0,1942.0,NaN,NaN,NaN,NaN
261,29329943,1721 Palma Plaza,78703,30.283353,-97.762698,906940.0,18370.0,1015773.0,789038.0,0,2538.0,8453.0,1945.0,NaN,4.0,NaN,NaN
4,29462460,601 Jet Lane,78742,30.235276,-97.677214,258682.0,3979.0,276790.0,240574.0,0,1015.0,161128.0,1945.0,NaN,NaN,NaN,NaN
240,29392869,1940 Webberville Road,78721,30.283714,-97.673304,318590.0,20475.0,379122.0,267616.0,0,886.0,45477.0,1945.0,NaN,NaN,NaN,NaN
219,29401590,610 East 48th Street,78751,30.309760,-97.720171,478988.0,-17997.0,507727.0,450249.0,0,1279.0,8041.0,1947.0,NaN,3.0,NaN,NaN
233,29403321,4409 Avenue C,78751,30.309076,-97.730195,516338.0,-5985.0,542155.0,490521.0,0,1294.0,7166.0,1947.0,NaN,NaN,NaN,NaN
124,29421521,8604 Georgian Drive,78753,30.352567,-97.699893,208354.0,2944.0,218772.0,193769.0,0,780.0,7579.0,1948.0,NaN,2.0,NaN,NaN
185,29335046,2417 Hartford Road,78703,30.293592,-97.758117,1068744.0,59995.0,1325243.0,887058.0,0,3469.0,17934.0,1948.0,NaN,4.0,07/12/2017,900000.0
101,29394602,1504 East 37th Street,78722,30.290870,-97.715638,412361.0,-3228.0,432979.0,387619.0,0,1272.0,8189.0,1949.0,NaN,3.0,NaN,NaN
183,29413192,1205 Payne Avenue,78757,30.334333,-97.726728,449515.0,-6790.0,476486.0,427039.0,0,1594.0,8546.0,1949.0,NaN,NaN,09/30/2004,159000.0
136,29403351,4504 Avenue G,78751,30.308245,-97.726534,449722.0,1526.0,476705.0,422739.0,0,1014.0,7893.0,1949.0,NaN,NaN,NaN,NaN
254,111969776,8304 Sassman Road,78747,30.140021,-97.717516,189663.0,6349.0,212423.0,170697.0,0,900.0,43560.0,1950.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,64620666,12220 Tanglewild Drive,78758,30.406599,-97.692878,452119.0,874.0,479246.0,429513.0,0,3094.0,7667.0,2010.0,NaN,4.0,NaN,NaN
231,120900456,2744 Tom Miller Street,78722,30.290218,-97.700309,448759.0,-6185.0,475685.0,417346.0,0,1459.0,1603.0,2011.0,NaN,2.0,NaN,NaN
123,70330348,125 Brandon Way,78733,30.321149,-97.859801,NaN,NaN,NaN,NaN,0,6433.0,49963.0,2011.0,NaN,5.0,NaN,NaN
88,29340837,16 Cicero Lane,78746,30.314685,-97.835728,2796043.0,-186677.0,2935845.0,2656241.0,0,7473.0,169100.0,2012.0,NaN,7.0,NaN,NaN
61,83125591,6001 Sandshof Drive,78724,30.293195,-97.647967,186137.0,3071.0,202889.0,167523.0,0,900.0,11683.0,2012.0,NaN,2.0,11/09/2012,NaN
135,120896519,4513 Ruiz Street,78723,30.297714,-97.701738,438077.0,-9980.0,459981.0,407412.0,0,1526.0,1559.0,2012.0,NaN,3.0,01/28/2013,150000.0
36,29338835,3405 River Road,78703,30.306373,-97.772654,1737657.0,15033.0,1946176.0,1581268.0,0,4694.0,18099.0,2012.0,NaN,3.0,NaN,NaN
242,119979309,2204 Canonero Drive,78746,30.322284,-97.812624,2553413.0,-253418.0,2681084.0,2425742.0,0,7872.0,115656.0,2013.0,NaN,5.0,NaN,NaN
275,89545691,8313 Nicola Trail,78745,30.194510,-97.828522,363047.0,-6733.0,381199.0,344895.0,0,2186.0,5384.0,2013.0,NaN,4.0,09/14/2015,NaN
122,121655909,716 Cardinal Lane,78704,30.232727,-97.767362,655656.0,-5171.0,688439.0,622873.0,0,2524.0,5171.0,2013.0,NaN,4.0,NaN,NaN
50,119624869,9312 Sydney Marilyn Lane,78748,30.166866,-97.795982,335503.0,3865.0,358988.0,318728.0,0,1942.0,5711.0,2014.0,NaN,3.0,NaN,NaN
253,145657879,3409 Davis Lane,78748,30.193898,-97.839728,601424.0,-25329.0,793880.0,505196.0,0,3153.0,190357.0,2015.0,NaN,4.0,NaN,NaN
247,124845235,3103 Sweet Autumn Cove,78735,30.283792,-97.871430,1357654.0,6211.0,1479843.0,1221889.0,0,3960.0,44057.0,2015.0,NaN,4.0,NaN,NaN
278,83814370,8624 Acuarela Court,78735,30.271343,-97.881217,2256348.0,30021.0,2481983.0,1985586.0,0,4881.0,56323.0,2015.0,NaN,4.0,12/17/2015,NaN
47,29337379,2502 Galewood Place,78703,30.301554,-97.762800,1031454.0,4092.0,1103656.0,969567.0,0,2065.0,13447.0,2016.0,NaN,3.0,NaN,NaN
215,124841886,6906 Arroyo Seco,78757,30.341789,-97.728117,632735.0,20825.0,670699.0,594771.0,0,2304.0,5807.0,2016.0,NaN,4.0,11/30/2016,NaN
207,124837891,2203 Thornton Road,78704,30.245927,-97.770349,780577.0,-4070.0,819606.0,741548.0,0,2569.0,10598.0,2016.0,NaN,3.0,04/12/2017,899900.0
145,29385693,1127 Terry Drive,78721,30.268663,-97.679455,382712.0,-4503.0,428637.0,329132.0,0,1020.0,7056.0,2017.0,NaN,3.0,10/01/2015,139000.0
198,144188221,6407 Culpepper Cove,78730,30.379472,-97.823378,1398085.0,29817.0,1579836.0,1230315.0,0,5373.0,122491.0,2017.0,NaN,4.0,NaN,NaN
2,2132336893,950 Westbank Drive,78746,30.278708,-97.808911,848997.0,27409.0,1256516.0,687688.0,0,1582.0,NaN,NaN,NaN,3.0,NaN,NaN
46,2105179874,5600 Sunshine Drive,78756,30.327140,-97.730018,487714.0,6987.0,755957.0,404803.0,0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
99,2092107298,2401 West William Cannon Drive,78745,30.197260,-97.790081,NaN,NaN,NaN,NaN,0,577.0,NaN,NaN,NaN,1.0,NaN,NaN
111,2110920024,6304 East Stassney Lane,78744,30.200950,-97.769390,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,3.0,NaN,NaN
137,2093573309,1301 Capital of Texas Highway,78746,30.332844,-97.809836,NaN,NaN,NaN,NaN,0,1704.0,NaN,NaN,NaN,3.0,NaN,NaN
151,144231193,300 Edwin Lane,78742,30.249780,-97.658206,NaN,NaN,NaN,NaN,0,NaN,4776485.0,NaN,NaN,0.0,NaN,NaN
205,144162779,616 Logans Lane,78746,30.307402,-97.795195,NaN,NaN,NaN,NaN,0,NaN,61855.0,NaN,NaN,0.0,04/18/2017,787500.0
222,144192460,4901 China Garden Drive,78730,30.374817,-97.841513,NaN,NaN,NaN,NaN,0,NaN,29055.0,NaN,NaN,0.0,NaN,NaN
243,249911779,9139 Nuckols Crossing Road,78747,30.155389,-97.765724,NaN,NaN,NaN,NaN,0,NaN,2870386.0,NaN,NaN,0.0,NaN,NaN
250,125808023,10200 Giles Lane,78754,30.343850,-97.620614,NaN,NaN,NaN,NaN,0,NaN,2357903.0,NaN,NaN,NaN,NaN,NaN
259,144231193,300 Edwin Lane,78742,30.249780,-97.658206,NaN,NaN,NaN,NaN,0,NaN,4776485.0,NaN,NaN,0.0,NaN,NaN

In [6]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT
sampleDF = csvDF("./Data/Archived/addressListTiny.csv")

In [7]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT
sampleDF.head()

  house #             street  zipcode        lat        lon       neighborhood
0    8109  Boggy Ridge Drive    78748  30.182018 -97.795088   Dittmar - Cooper
1    8507      Caspian Drive    78749  30.199637 -97.841057  Woodstone Village
2     950     Westbank Drive    78746  30.278182 -97.809151           Ledgeway
3    4208       Steck Avenue    78759  30.377557 -97.757560        Mesa Forest
4     807     Park Boulevard    78751  30.301572 -97.722516          Hyde Park

In [ ]:
addressDF = csvDF(addressList_csv)
print(len(addressDF))

In [13]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT

############### LOOPING FUNCTION FULLY OPERATIONAL ################
####### HOWEVER, ZILLOW ONLY ALLOWS 1000 API CALLS PER DAY #######

# Zillow API call function using address and zipcode
def zCall(API, index, address, zipcode):
    APIkey = API[index]
    zillow_data = ZillowWrapper(APIkey)
    deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
    result = GetDeepSearchResults(deep_search_response)
    return result


# List containers for collected property data
zid = []
addresses = []
alats = []
alons = []
valuation = []
valChange = []
valRhigh = []
valRlow = []
valPercent = []
sqft = []
lotsqft = []
yearBuilt = []
baths = []
beds = []
lastSold = []
lastPrice = []


# List of Zillow API keys to loop through due to daily API call limits
zAPIs = [Zapi, Zapi01, Zapi02, Zapi03, Zapi04, Zapi05, Zapi06, Zapi07, Zapi08, Zapi09, 
         Zapi10, Zapi11, Zapi12, Zapi13, Zapi14, Zapi15, Zapi16, Zapi17, Zapi18, Zapi19, 
         Zapi20, Ztroy1, Ztroy2, Ztroy3, Zseth, Zseth2, Zkat, Zval, Zyuta]
index = 0
    
for row, home in sampleDF.iterrows():
    address = str(sampleDF["house #"][row]) + " " + str(sampleDF["street"][row])
    addresses.append(address)
    zipcode = sampleDF["zipcode"][row]
    print(f"Processing {address}, {zipcode} (index {row}).")
    
    result = None
    try:
        try:
            result = zCall(zAPIs, index, address, zipcode)
            print(f"{row} Success!")
        except KeyError:  ### ERROR FOR API CALL LIMIT EXCEEDED ###
            print(f"KeyError has occurred for {address}, {zipcode} (index {row}).")
            index += 1
            print(f"Proceeding to API[{index}]")
            if index >= len(zAPIs):
                print(f"API[{index}] does not exist. Need more API keys to complete analysis.")
                break
            result = zCall(zAPIs, index, address, zipcode)

    except:
        print(f"No record found for {address}, {zipcode} (index {row}). Appending lists with null values")
        zid.append(None)
        alats.append(None)
        alons.append(None)
        valuation.append(None)
        valChange.append(None)
        valRhigh.append(None)
        valRlow.append(None)
        valPercent.append(None)
        sqft.append(None)
        lotsqft.append(None)
        yearBuilt.append(None)
        baths.append(None)
        beds.append(None)
        lastSold.append(None)
        lastPrice.append(None)
        continue

    try:
        zillowID = result.zillow_id
        zid.append(zillowID)
    except:
        print(f"No zid found for {address}, {zipcode} (index {row}). Appending list with null values")
        zid.append(None)

    try:
        alat = result.latitude
        alats.append(alat)
    except:
        print(f"No alat found for {address}, {zipcode} (index {row}). Appending list with null values")
        alats.append(None)

    try:
        alon = result.longitude
        alons.append(alon)
    except:
        print(f"No alon found for {address}, {zipcode} (index {row}). Appending list with null values")
        alons.append(None)

    try:    
        val = int(result.zestimate_amount)
        valuation.append(val)
    except:
        print(f"No valuation found for {address}, {zipcode} (index {row}). Appending list with null values")
        valuation.append(None)
        
    try:    
        change = result.zestimate_value_change
        valChange.append(change)
    except:
        print(f"No valuation change found for {address}, {zipcode} (index {row}). Appending list with null values")
        valChange.append(None)
        
    try:    
        high = result.zestimate_valuation_range_high
        valRhigh.append(high)
    except:
        print(f"No valuation range high found for {address}, {zipcode} (index {row}). Appending list with null values")
        valRhigh.append(None)

    try:    
        low = result.zestimate_valuationRange_low
        valRlow.append(low)
    except:
        print(f"No valuation range low found for {address}, {zipcode} (index {row}). Appending list with null values")
        valRlow.append(None)

    try:    
        percent = result.zestimate_percentile
        valPercent.append(percent)
    except:
        print(f"No valuation percentile found for {address}, {zipcode} (index {row}). Appending list with null values")
        valPercent.append(None)
        
    try:
        zsqft = result.home_size
        sqft.append(zsqft)
    except:
        print(f"No sqft found for {address}, {zipcode} (index {row}). Appending list with null values")
        sqft.append(None)
        
    try:
        lot = result.property_size
        lotsqft.append(lot)
    except:
        print(f"No lot size for {address}, {zipcode} (index {row}). Appending list with null values")
        lotsqft.append(None)
        
    try:
        year = int(result.year_built)
        yearBuilt.append(year)
    except:
        print(f"No year built for {address}, {zipcode} (index {row}). Appending list with null values")
        yearBuilt.append(None)

    try:
        bath = int(result.bathrooms)
        baths.append(bath)
    except:
        print(f"No bathrooms for {address}, {zipcode} (index {row}). Appending list with null values")
        baths.append(None)
        
    try:
        bed = int(result.bedrooms)
        beds.append(bed)
    except:
        print(f"No bedrooms for {address}, {zipcode} (index {row}). Appending list with null values")
        beds.append(None)
        
    try:
        last = result.last_sold_date
        lastSold.append(last)
    except:
        print(f"No last sold date for {address}, {zipcode} (index {row}). Appending list with null values")
        lastSold.append(None)
        
    try:
        price = result.last_sold_price
        lastPrice.append(price)
    except:
        print(f"No last sold price for {address}, {zipcode} (index {row}). Appending list with null values")
        lastPrice.append(None)

Processing 8109 Boggy Ridge Drive, 78748 (index 0).
KeyError has occurred for 8109 Boggy Ridge Drive, 78748 (index 0).
Proceeding to API[1]
No bathrooms for 8109 Boggy Ridge Drive, 78748 (index 0). Appending list with null values
Processing 8507 Caspian Drive, 78749 (index 1).
1 Success!
No bathrooms for 8507 Caspian Drive, 78749 (index 1). Appending list with null values
No bedrooms for 8507 Caspian Drive, 78749 (index 1). Appending list with null values
Processing 950 Westbank Drive, 78746 (index 2).
2 Success!
No year built for 950 Westbank Drive, 78746 (index 2). Appending list with null values
No bathrooms for 950 Westbank Drive, 78746 (index 2). Appending list with null values
Processing 4208 Steck Avenue, 78759 (index 3).
No record found for 4208 Steck Avenue, 78759 (index 3). Appending lists with null values
Processing 807 Park Boulevard, 78751 (index 4).
4 Success!
No bathrooms for 807 Park Boulevard, 78751 (index 4). Appending list with null values
No bedrooms for 807 Park Boulevard, 78751 (index 4). Appending list with null values
Processing 10109 Slaughter Creek Drive, 78748 (index 5).
No record found for 10109 Slaughter Creek Drive, 78748 (index 5). Appending lists with null values
Processing 601 Jet Lane, 78742 (index 6).
6 Success!
No bathrooms for 601 Jet Lane, 78742 (index 6). Appending list with null values
No bedrooms for 601 Jet Lane, 78742 (index 6). Appending list with null values
Processing 4409 Jessamine Hollow, 78731 (index 7).
7 Success!
No bathrooms for 4409 Jessamine Hollow, 78731 (index 7). Appending list with null values
No bedrooms for 4409 Jessamine Hollow, 78731 (index 7). Appending list with null values
Processing 8800 Daffan Lane, 78724 (index 8).
No record found for 8800 Daffan Lane, 78724 (index 8). Appending lists with null values
Processing 4501 Ridge Oak Drive, 78731 (index 9).
9 Success!
No bathrooms for 4501 Ridge Oak Drive, 78731 (index 9). Appending list with null values
No bedrooms for 4501 Ridge Oak Drive, 78731 (index 9). Appending list with null values
Processing 9600 Great Hills Trail, 78759 (index 10).
No record found for 9600 Great Hills Trail, 78759 (index 10). Appending lists with null values
Processing 1401 Phillips Court, 78733 (index 11).
No record found for 1401 Phillips Court, 78733 (index 11). Appending lists with null values
Processing 11201 Long Summer Drive, 78754 (index 12).
12 Success!
No bathrooms for 11201 Long Summer Drive, 78754 (index 12). Appending list with null values
No bedrooms for 11201 Long Summer Drive, 78754 (index 12). Appending list with null values
Processing 504 East Braker Lane, 78753 (index 13).
13 Success!
No bathrooms for 504 East Braker Lane, 78753 (index 13). Appending list with null values
No bedrooms for 504 East Braker Lane, 78753 (index 13). Appending list with null values
Processing 5703 Coolbrook Drive, 78724 (index 14).
14 Success!
No bathrooms for 5703 Coolbrook Drive, 78724 (index 14). Appending list with null values
No bedrooms for 5703 Coolbrook Drive, 78724 (index 14). Appending list with null values
Processing 3300 Jones Road, 78745 (index 15).
No record found for 3300 Jones Road, 78745 (index 15). Appending lists with null values
Processing 5301 East Stassney Lane, 78744 (index 16).
16 Success!
No bathrooms for 5301 East Stassney Lane, 78744 (index 16). Appending list with null values
No bedrooms for 5301 East Stassney Lane, 78744 (index 16). Appending list with null values
Processing 1021 1/2 East 11th Street, 78702 (index 17).
No record found for 1021 1/2 East 11th Street, 78702 (index 17). Appending lists with null values
Processing 10019 Interstate 35 Frontage Road, 78747 (index 18).
No record found for 10019 Interstate 35 Frontage Road, 78747 (index 18). Appending lists with null values
Processing 4611 East Martin Luther King Junior Boulevard, 78721 (index 19).
No record found for 4611 East Martin Luther King Junior Boulevard, 78721 (index 19). Appending lists with null values
Processing 3109 Westlake Drive, 78746 (index 20).
20 Success!
No bathrooms for 3109 Westlake Drive, 78746 (index 20). Appending list with null values
No bedrooms for 3109 Westlake Drive, 78746 (index 20). Appending list with null values
Processing 511 Harris Avenue, 78705 (index 21).
21 Success!
No bathrooms for 511 Harris Avenue, 78705 (index 21). Appending list with null values
No bedrooms for 511 Harris Avenue, 78705 (index 21). Appending list with null values
Processing 9420 Lightwood Loop, 78748 (index 22).
22 Success!
No bathrooms for 9420 Lightwood Loop, 78748 (index 22). Appending list with null values
No bedrooms for 9420 Lightwood Loop, 78748 (index 22). Appending list with null values
Processing 9780 Sprinkle Road, 78754 (index 23).
No record found for 9780 Sprinkle Road, 78754 (index 23). Appending lists with null values
Processing 6404 Convict Hill Road, 78749 (index 24).
24 Success!
No bathrooms for 6404 Convict Hill Road, 78749 (index 24). Appending list with null values
Processing 6113 Charis Court, 78735 (index 25).
25 Success!
No bathrooms for 6113 Charis Court, 78735 (index 25). Appending list with null values
Processing 1400 Ridgecrest Drive, 78746 (index 26).
26 Success!
No bathrooms for 1400 Ridgecrest Drive, 78746 (index 26). Appending list with null values
Processing 9005 Wintercreeper Cove, 78735 (index 27).
No record found for 9005 Wintercreeper Cove, 78735 (index 27). Appending lists with null values
Processing 11339 Taylor Draper Lane, 78759 (index 28).
28 Success!
No bathrooms for 11339 Taylor Draper Lane, 78759 (index 28). Appending list with null values
No bedrooms for 11339 Taylor Draper Lane, 78759 (index 28). Appending list with null values
Processing 3616 Sand Dunes Avenue, 78742 (index 29).
29 Success!
No bathrooms for 3616 Sand Dunes Avenue, 78742 (index 29). Appending list with null values
Processing 6301 1/2 I 35 Frontage Road, 78744 (index 30).
No record found for 6301 1/2 I 35 Frontage Road, 78744 (index 30). Appending lists with null values
Processing 7002 Millrace Drive, 78724 (index 31).
31 Success!
No bathrooms for 7002 Millrace Drive, 78724 (index 31). Appending list with null values
Processing 2401 South Lakeshore Boulevard, 78741 (index 32).
32 Success!
No valuation found for 2401 South Lakeshore Boulevard, 78741 (index 32). Appending list with null values
No bathrooms for 2401 South Lakeshore Boulevard, 78741 (index 32). Appending list with null values
Processing 7076 Moores Crossing Boulevard, 78617 (index 33).
No record found for 7076 Moores Crossing Boulevard, 78617 (index 33). Appending lists with null values
Processing 1500 Dittmar Road, 78748 (index 34).
No record found for 1500 Dittmar Road, 78748 (index 34). Appending lists with null values
Processing 4051 Ben Garza Lane, 78749 (index 35).
No record found for 4051 Ben Garza Lane, 78749 (index 35). Appending lists with null values
Processing 2214 West Braker Lane, 78758 (index 36).
No record found for 2214 West Braker Lane, 78758 (index 36). Appending lists with null values
Processing 7509 Escala Drive, 78735 (index 37).
37 Success!
No bathrooms for 7509 Escala Drive, 78735 (index 37). Appending list with null values
Processing 5621 Republic of Texas Boulevard, 78735 (index 38).
38 Success!
No bathrooms for 5621 Republic of Texas Boulevard, 78735 (index 38). Appending list with null values
Processing 2505 El Greco Cove, 78703 (index 39).
39 Success!
No bathrooms for 2505 El Greco Cove, 78703 (index 39). Appending list with null values
No bedrooms for 2505 El Greco Cove, 78703 (index 39). Appending list with null values
Processing 2801 Presidential Boulevard, 78719 (index 40).
No record found for 2801 Presidential Boulevard, 78719 (index 40). Appending lists with null values
Processing 5416 Farm-to-Market Road 973, 78724 (index 41).
No record found for 5416 Farm-to-Market Road 973, 78724 (index 41). Appending lists with null values
Processing 9722 Great Hills Trail, 78759 (index 42).
No record found for 9722 Great Hills Trail, 78759 (index 42). Appending lists with null values
Processing 7316 Turnbuoy Drive, 78730 (index 43).
43 Success!
No bathrooms for 7316 Turnbuoy Drive, 78730 (index 43). Appending list with null values
No bedrooms for 7316 Turnbuoy Drive, 78730 (index 43). Appending list with null values
Processing 4705 Avenue F, 78751 (index 44).

44 Success!
No bathrooms for 4705 Avenue F, 78751 (index 44). Appending list with null values
Processing 3401 Oak Springs Drive, 78721 (index 45).
45 Success!
No bathrooms for 3401 Oak Springs Drive, 78721 (index 45). Appending list with null values
Processing 1515 Capital of Texas Highway, 78746 (index 46).
No record found for 1515 Capital of Texas Highway, 78746 (index 46). Appending lists with null values
Processing 5804 Wier Hills Road, 78735 (index 47).
47 Success!
No bathrooms for 5804 Wier Hills Road, 78735 (index 47). Appending list with null values
No bedrooms for 5804 Wier Hills Road, 78735 (index 47). Appending list with null values
Processing 5907 Blanco River Pass, 78749 (index 48).
48 Success!
No bathrooms for 5907 Blanco River Pass, 78749 (index 48). Appending list with null values
Processing 9009 Wintercreeper Cove, 78735 (index 49).
49 Success!
No bathrooms for 9009 Wintercreeper Cove, 78735 (index 49). Appending list with null values
Processing 4300 Eskew Drive, 78749 (index 50).
50 Success!
No bathrooms for 4300 Eskew Drive, 78749 (index 50). Appending list with null values
No bedrooms for 4300 Eskew Drive, 78749 (index 50). Appending list with null values
Processing 6606 Hergotz Lane, 78742 (index 51).
51 Success!
No bathrooms for 6606 Hergotz Lane, 78742 (index 51). Appending list with null values
Processing 6214 Northern Dancer Drive, 78746 (index 52).
52 Success!
No bathrooms for 6214 Northern Dancer Drive, 78746 (index 52). Appending list with null values
Processing 5423 Fairmont Circle, 78745 (index 53).
53 Success!
No bathrooms for 5423 Fairmont Circle, 78745 (index 53). Appending list with null values
No bedrooms for 5423 Fairmont Circle, 78745 (index 53). Appending list with null values
Processing 3406 Jefferson Street, 78731 (index 54).
No record found for 3406 Jefferson Street, 78731 (index 54). Appending lists with null values
Processing 9702 Hansford Drive, 78753 (index 55).
55 Success!
No bathrooms for 9702 Hansford Drive, 78753 (index 55). Appending list with null values
No bedrooms for 9702 Hansford Drive, 78753 (index 55). Appending list with null values
Processing 1735 Dittmar Road, 78748 (index 56).
No record found for 1735 Dittmar Road, 78748 (index 56). Appending lists with null values
Processing 5525 City Park Road, 78730 (index 57).
57 Success!
No bathrooms for 5525 City Park Road, 78730 (index 57). Appending list with null values
Processing 3405 River Road, 78703 (index 58).
58 Success!
No bathrooms for 3405 River Road, 78703 (index 58). Appending list with null values
Processing 2912 Dillionhill Drive, 78745 (index 59).
59 Success!
No bathrooms for 2912 Dillionhill Drive, 78745 (index 59). Appending list with null values
Processing 1309 Dwyce Drive, 78757 (index 60).
60 Success!
No bathrooms for 1309 Dwyce Drive, 78757 (index 60). Appending list with null values
No bedrooms for 1309 Dwyce Drive, 78757 (index 60). Appending list with null values
Processing 5507 Colton Road, 78719 (index 61).
61 Success!
No bathrooms for 5507 Colton Road, 78719 (index 61). Appending list with null values
Processing 6903 Agave Cove, 78750 (index 62).
62 Success!
No bathrooms for 6903 Agave Cove, 78750 (index 62). Appending list with null values
Processing 2626 Gracy Farms Lane, 78758 (index 63).
No record found for 2626 Gracy Farms Lane, 78758 (index 63). Appending lists with null values
Processing 5603 Shoal Creek Boulevard, 78757 (index 64).
64 Success!
No bathrooms for 5603 Shoal Creek Boulevard, 78757 (index 64). Appending list with null values
Processing 820 Blackson Avenue, 78752 (index 65).
No record found for 820 Blackson Avenue, 78752 (index 65). Appending lists with null values
Processing 3703 Jefferson Street, 78731 (index 66).
66 Success!
No valuation found for 3703 Jefferson Street, 78731 (index 66). Appending list with null values
No bathrooms for 3703 Jefferson Street, 78731 (index 66). Appending list with null values
No bedrooms for 3703 Jefferson Street, 78731 (index 66). Appending list with null values
Processing 402 Buena Vista Circle, 78746 (index 67).
67 Success!
No bathrooms for 402 Buena Vista Circle, 78746 (index 67). Appending list with null values
No bedrooms for 402 Buena Vista Circle, 78746 (index 67). Appending list with null values
Processing 1000 Little Texas Lane, 78745 (index 68).
No record found for 1000 Little Texas Lane, 78745 (index 68). Appending lists with null values
Processing 5909 Northern Dancer Drive, 78746 (index 69).
69 Success!
No bathrooms for 5909 Northern Dancer Drive, 78746 (index 69). Appending list with null values
Processing 4000 Bluffridge Circle, 78759 (index 70).
70 Success!
No bathrooms for 4000 Bluffridge Circle, 78759 (index 70). Appending list with null values
Processing 5600 Sunshine Drive, 78756 (index 71).
71 Success!
No year built for 5600 Sunshine Drive, 78756 (index 71). Appending list with null values
No bathrooms for 5600 Sunshine Drive, 78756 (index 71). Appending list with null values
Processing 2502 Galewood Place, 78703 (index 72).
72 Success!
No bathrooms for 2502 Galewood Place, 78703 (index 72). Appending list with null values
Processing 4805 Lyons Road, 78702 (index 73).
73 Success!
No bathrooms for 4805 Lyons Road, 78702 (index 73). Appending list with null values
Processing 9606 Leaning Rock Circle, 78730 (index 74).
74 Success!
No bathrooms for 9606 Leaning Rock Circle, 78730 (index 74). Appending list with null values
No bedrooms for 9606 Leaning Rock Circle, 78730 (index 74). Appending list with null values
Processing 9312 Sydney Marilyn Lane, 78748 (index 75).
75 Success!
No bathrooms for 9312 Sydney Marilyn Lane, 78748 (index 75). Appending list with null values
Processing 204 Tumbleweed Trail North, 78733 (index 76).
76 Success!
No bathrooms for 204 Tumbleweed Trail North, 78733 (index 76). Appending list with null values
No bedrooms for 204 Tumbleweed Trail North, 78733 (index 76). Appending list with null values
Processing 7303 Dan Pass, 78744 (index 77).
77 Success!
No bathrooms for 7303 Dan Pass, 78744 (index 77). Appending list with null values
Processing 11200 Taylor Draper Lane, 78759 (index 78).
78 Success!
No bathrooms for 11200 Taylor Draper Lane, 78759 (index 78). Appending list with null values
Processing 7201 RM 2222, 78730 (index 79).
No record found for 7201 RM 2222, 78730 (index 79). Appending lists with null values
Processing 9333 Brown Lane, 78754 (index 80).
No record found for 9333 Brown Lane, 78754 (index 80). Appending lists with null values
Processing 2639 Gwendolyn Lane, 78748 (index 81).
81 Success!
No bathrooms for 2639 Gwendolyn Lane, 78748 (index 81). Appending list with null values
No bedrooms for 2639 Gwendolyn Lane, 78748 (index 81). Appending list with null values
Processing 11901 River Oaks Trail, 78753 (index 82).
82 Success!
No bathrooms for 11901 River Oaks Trail, 78753 (index 82). Appending list with null values
No bedrooms for 11901 River Oaks Trail, 78753 (index 82). Appending list with null values
Processing 5409 Wasson Road, 78745 (index 83).
No record found for 5409 Wasson Road, 78745 (index 83). Appending lists with null values
Processing 2928 Norfolk Drive, 78745 (index 84).
84 Success!
No bathrooms for 2928 Norfolk Drive, 78745 (index 84). Appending list with null values
Processing 9428 Parkfield Drive, 78758 (index 85).
No record found for 9428 Parkfield Drive, 78758 (index 85). Appending lists with null values
Processing 1701 Victoria Drive, 78721 (index 86).
86 Success!
No bathrooms for 1701 Victoria Drive, 78721 (index 86). Appending list with null values
No bedrooms for 1701 Victoria Drive, 78721 (index 86). Appending list with null values
Processing 728 Barton Creek Boulevard, 78735 (index 87).
87 Success!
No bathrooms for 728 Barton Creek Boulevard, 78735 (index 87). Appending list with null values
Processing 5408 Southwest Parkway, 78735 (index 88).
88 Success!
No bathrooms for 5408 Southwest Parkway, 78735 (index 88). Appending list with null values
Processing 2106 Quicksilver Boulevard, 78744 (index 89).
89 Success!
No bathrooms for 2106 Quicksilver Boulevard, 78744 (index 89). Appending list with null values
No bedrooms for 2106 Quicksilver Boulevard, 78744 (index 89). Appending list with null values
Processing 6178 Blue Goose Road, 78653 (index 90).
No record found for 6178 Blue Goose Road, 78653 (index 90). Appending lists with null values
Processing 1324 Frontier Valley Drive, 78741 (index 91).

No record found for 1324 Frontier Valley Drive, 78741 (index 91). Appending lists with null values
Processing 3607 Fall Trail, 78731 (index 92).
No record found for 3607 Fall Trail, 78731 (index 92). Appending lists with null values
Processing 9807 Brown Lane, 78754 (index 93).
No record found for 9807 Brown Lane, 78754 (index 93). Appending lists with null values
Processing 9310 Burleson Road, 78719 (index 94).
No record found for 9310 Burleson Road, 78719 (index 94). Appending lists with null values
Processing 6001 Sandshof Drive, 78724 (index 95).
95 Success!
No bathrooms for 6001 Sandshof Drive, 78724 (index 95). Appending list with null values
Processing 9508 Presa Abajo Drive, 78733 (index 96).
No record found for 9508 Presa Abajo Drive, 78733 (index 96). Appending lists with null values
Processing 9706 Saugus Lane, 78733 (index 97).
97 Success!
No bathrooms for 9706 Saugus Lane, 78733 (index 97). Appending list with null values
No bedrooms for 9706 Saugus Lane, 78733 (index 97). Appending list with null values
Processing 3803 Woodcutters Way, 78746 (index 98).
98 Success!
No bathrooms for 3803 Woodcutters Way, 78746 (index 98). Appending list with null values
No bedrooms for 3803 Woodcutters Way, 78746 (index 98). Appending list with null values
Processing 5007 Arax Cove, 78731 (index 99).
99 Success!
No bathrooms for 5007 Arax Cove, 78731 (index 99). Appending list with null values
Processing 13101 Harold Green Road, 78725 (index 100).
No record found for 13101 Harold Green Road, 78725 (index 100). Appending lists with null values
Processing 1711 Holly Street, 78702 (index 101).
101 Success!
No bathrooms for 1711 Holly Street, 78702 (index 101). Appending list with null values
No bedrooms for 1711 Holly Street, 78702 (index 101). Appending list with null values
Processing 1104 Penion Drive, 78748 (index 102).
102 Success!
No bathrooms for 1104 Penion Drive, 78748 (index 102). Appending list with null values
No bedrooms for 1104 Penion Drive, 78748 (index 102). Appending list with null values
Processing 3222 Smoky Ridge, 78730 (index 103).
103 Success!
No bathrooms for 3222 Smoky Ridge, 78730 (index 103). Appending list with null values
Processing 1611 Nickerson Street, 78704 (index 104).
104 Success!
No bathrooms for 1611 Nickerson Street, 78704 (index 104). Appending list with null values
Processing 1799 City Park Road, 78730 (index 105).
No record found for 1799 City Park Road, 78730 (index 105). Appending lists with null values
Processing 1623 West 10th Street, 78703 (index 106).
106 Success!
No bathrooms for 1623 West 10th Street, 78703 (index 106). Appending list with null values
No bedrooms for 1623 West 10th Street, 78703 (index 106). Appending list with null values
Processing 6836 Austin Center Boulevard, 78731 (index 107).
No record found for 6836 Austin Center Boulevard, 78731 (index 107). Appending lists with null values
Processing 2101 East 18th Street, 78702 (index 108).
108 Success!
No bathrooms for 2101 East 18th Street, 78702 (index 108). Appending list with null values
Processing 6307 Moonglow Drive, 78724 (index 109).
109 Success!
No bathrooms for 6307 Moonglow Drive, 78724 (index 109). Appending list with null values
No bedrooms for 6307 Moonglow Drive, 78724 (index 109). Appending list with null values
Processing 1445 East 51st Street, 78723 (index 110).
No record found for 1445 East 51st Street, 78723 (index 110). Appending lists with null values
Processing 7483 Cielo Serena Trail, 78724 (index 111).
No record found for 7483 Cielo Serena Trail, 78724 (index 111). Appending lists with null values
Processing 9610 Westminster Glen Avenue, 78730 (index 112).
112 Success!
No bathrooms for 9610 Westminster Glen Avenue, 78730 (index 112). Appending list with null values
Processing 6100 Grove Boulevard, 78741 (index 113).
No record found for 6100 Grove Boulevard, 78741 (index 113). Appending lists with null values
Processing 8711 Coastal Drive, 78749 (index 114).
114 Success!
No bathrooms for 8711 Coastal Drive, 78749 (index 114). Appending list with null values
No bedrooms for 8711 Coastal Drive, 78749 (index 114). Appending list with null values
Processing 1204 Taylor Street, 78702 (index 115).
115 Success!
No bathrooms for 1204 Taylor Street, 78702 (index 115). Appending list with null values
Processing 6319 South Pleasant Valley Road, 78744 (index 116).
116 Success!
No bathrooms for 6319 South Pleasant Valley Road, 78744 (index 116). Appending list with null values
No bedrooms for 6319 South Pleasant Valley Road, 78744 (index 116). Appending list with null values
Processing 8844 Chalk Knoll Drive, 78735 (index 117).
117 Success!
No bathrooms for 8844 Chalk Knoll Drive, 78735 (index 117). Appending list with null values
Processing 3400 Toro Canyon Road, 78746 (index 118).
118 Success!
No bathrooms for 3400 Toro Canyon Road, 78746 (index 118). Appending list with null values
No bedrooms for 3400 Toro Canyon Road, 78746 (index 118). Appending list with null values
Processing 10500 Brownie Drive, 78753 (index 119).
119 Success!
No bathrooms for 10500 Brownie Drive, 78753 (index 119). Appending list with null values
Processing 10439 FM 812;FM 973, 78719 (index 120).
No record found for 10439 FM 812;FM 973, 78719 (index 120). Appending lists with null values
Processing 1950 Webberville Road, 78721 (index 121).
121 Success!
No valuation found for 1950 Webberville Road, 78721 (index 121). Appending list with null values
No bathrooms for 1950 Webberville Road, 78721 (index 121). Appending list with null values
No bedrooms for 1950 Webberville Road, 78721 (index 121). Appending list with null values
Processing 2100 Polaris Avenue, 78757 (index 122).
No record found for 2100 Polaris Avenue, 78757 (index 122). Appending lists with null values
Processing 5803 Oakclaire Drive, 78735 (index 123).
123 Success!
No bathrooms for 5803 Oakclaire Drive, 78735 (index 123). Appending list with null values
Processing 2305 Manana Street, 78730 (index 124).
124 Success!
No bathrooms for 2305 Manana Street, 78730 (index 124). Appending list with null values
Processing 7601 Shelton Road, 78725 (index 125).
125 Success!
No bathrooms for 7601 Shelton Road, 78725 (index 125). Appending list with null values
No bedrooms for 7601 Shelton Road, 78725 (index 125). Appending list with null values
Processing 10909 Sea Hero Lane, 78748 (index 126).
126 Success!
No bathrooms for 10909 Sea Hero Lane, 78748 (index 126). Appending list with null values
Processing 7803 Dee Gabriel Collins Road, 78744 (index 127).
127 Success!
No bathrooms for 7803 Dee Gabriel Collins Road, 78744 (index 127). Appending list with null values
No bedrooms for 7803 Dee Gabriel Collins Road, 78744 (index 127). Appending list with null values
Processing 7211 Circle South Road, 78745 (index 128).
No record found for 7211 Circle South Road, 78745 (index 128). Appending lists with null values
Processing 4901 Whitethorn Court, 78746 (index 129).
129 Success!
No bathrooms for 4901 Whitethorn Court, 78746 (index 129). Appending list with null values
No bedrooms for 4901 Whitethorn Court, 78746 (index 129). Appending list with null values
Processing 4004 Balcones Drive, 78731 (index 130).
130 Success!
No bathrooms for 4004 Balcones Drive, 78731 (index 130). Appending list with null values
Processing 8026 Tee Drive, 78747 (index 131).
No record found for 8026 Tee Drive, 78747 (index 131). Appending lists with null values
Processing 611 East Braker Lane, 78753 (index 132).
No record found for 611 East Braker Lane, 78753 (index 132). Appending lists with null values
Processing 8043 Johnny Morris Road, 78724 (index 133).
No record found for 8043 Johnny Morris Road, 78724 (index 133). Appending lists with null values
Processing 2310 Bitter Creek Drive, 78744 (index 134).
134 Success!
No bathrooms for 2310 Bitter Creek Drive, 78744 (index 134). Appending list with null values
No bedrooms for 2310 Bitter Creek Drive, 78744 (index 134). Appending list with null values
Processing 16 Cicero Lane, 78746 (index 135).
135 Success!
No bathrooms for 16 Cicero Lane, 78746 (index 135). Appending list with null values
Processing 3816 Southway Drive, 78704 (index 136).
136 Success!
No bathrooms for 3816 Southway Drive, 78704 (index 136). Appending list with null values
Processing 8360 Brodie Lane, 78745 (index 137).

No record found for 8360 Brodie Lane, 78745 (index 137). Appending lists with null values
Processing 5439 Spicewood Springs Road, 78759 (index 138).
No record found for 5439 Spicewood Springs Road, 78759 (index 138). Appending lists with null values
Processing 5104 Beverly Hills Drive, 78731 (index 139).
139 Success!
No bathrooms for 5104 Beverly Hills Drive, 78731 (index 139). Appending list with null values
Processing 4805 Emma Browning Avenue, 78617 (index 140).
No record found for 4805 Emma Browning Avenue, 78617 (index 140). Appending lists with null values
Processing 3504 Duval Street, 78751 (index 141).
141 Success!
No bathrooms for 3504 Duval Street, 78751 (index 141). Appending list with null values
Processing 402 Oak Ridge Drive, 78746 (index 142).
142 Success!
No bathrooms for 402 Oak Ridge Drive, 78746 (index 142). Appending list with null values
Processing 1416 Webberville Road, 78721 (index 143).
143 Success!
No bathrooms for 1416 Webberville Road, 78721 (index 143). Appending list with null values
No bedrooms for 1416 Webberville Road, 78721 (index 143). Appending list with null values
Processing 5700 Cameron Road, 78723 (index 144).
144 Success!
No bathrooms for 5700 Cameron Road, 78723 (index 144). Appending list with null values
Processing nan Red River Street, 78751 (index 145).
No record found for nan Red River Street, 78751 (index 145). Appending lists with null values
Processing 10500 Thaxton Road, 78747 (index 146).
146 Success!
No bathrooms for 10500 Thaxton Road, 78747 (index 146). Appending list with null values
Processing 604 Masterson Pass, 78753 (index 147).
No record found for 604 Masterson Pass, 78753 (index 147). Appending lists with null values
Processing 3457 Lake Austin Boulevard, 78703 (index 148).
No record found for 3457 Lake Austin Boulevard, 78703 (index 148). Appending lists with null values
Processing 10024 Capital of Texas Highway, 78759 (index 149).
149 Success!
No bathrooms for 10024 Capital of Texas Highway, 78759 (index 149). Appending list with null values
Processing 900 Lost Canyon Drive, 78746 (index 150).
150 Success!
No bathrooms for 900 Lost Canyon Drive, 78746 (index 150). Appending list with null values
No bedrooms for 900 Lost Canyon Drive, 78746 (index 150). Appending list with null values
Processing 5205 South Pleasant Valley Road, 78744 (index 151).
151 Success!
No bathrooms for 5205 South Pleasant Valley Road, 78744 (index 151). Appending list with null values
Processing 2401 West William Cannon Drive, 78745 (index 152).
152 Success!
No valuation found for 2401 West William Cannon Drive, 78745 (index 152). Appending list with null values
No year built for 2401 West William Cannon Drive, 78745 (index 152). Appending list with null values
No bathrooms for 2401 West William Cannon Drive, 78745 (index 152). Appending list with null values
Processing 2936 Oestrick Lane, 78733 (index 153).
No record found for 2936 Oestrick Lane, 78733 (index 153). Appending lists with null values
Processing 5701 Springdale Road, 78723 (index 154).
No record found for 5701 Springdale Road, 78723 (index 154). Appending lists with null values
Processing 4820 Trail Crest Circle, 78735 (index 155).
155 Success!
No bathrooms for 4820 Trail Crest Circle, 78735 (index 155). Appending list with null values
Processing 1504 East 37th Street, 78722 (index 156).
156 Success!
No bathrooms for 1504 East 37th Street, 78722 (index 156). Appending list with null values
Processing 5816 Harold Court, 78721 (index 157).
No record found for 5816 Harold Court, 78721 (index 157). Appending lists with null values
Processing 10514 Wylie Drive, 78748 (index 158).
158 Success!
No bathrooms for 10514 Wylie Drive, 78748 (index 158). Appending list with null values
No bedrooms for 10514 Wylie Drive, 78748 (index 158). Appending list with null values
Processing 2205 Rabb Glen Street, 78704 (index 159).
159 Success!
No bathrooms for 2205 Rabb Glen Street, 78704 (index 159). Appending list with null values
Processing 6315 Pathfinder Drive, 78759 (index 160).
160 Success!
No bathrooms for 6315 Pathfinder Drive, 78759 (index 160). Appending list with null values
Processing 10001 Middle Fiskville Road, 78753 (index 161).
No record found for 10001 Middle Fiskville Road, 78753 (index 161). Appending lists with null values
Processing 4016 Pinckney Street, 78722 (index 162).
162 Success!
No bathrooms for 4016 Pinckney Street, 78722 (index 162). Appending list with null values
Processing 203 Canyon Rim Drive, 78746 (index 163).
163 Success!
No bathrooms for 203 Canyon Rim Drive, 78746 (index 163). Appending list with null values
No bedrooms for 203 Canyon Rim Drive, 78746 (index 163). Appending list with null values
Processing 9018 Tuscany Way, 78754 (index 164).
No record found for 9018 Tuscany Way, 78754 (index 164). Appending lists with null values
Processing 7920 Rockwood Lane, 78757 (index 165).
165 Success!
No valuation found for 7920 Rockwood Lane, 78757 (index 165). Appending list with null values
No bathrooms for 7920 Rockwood Lane, 78757 (index 165). Appending list with null values
Processing 12166 Metric Boulevard, 78727 (index 166).
166 Success!
No bathrooms for 12166 Metric Boulevard, 78727 (index 166). Appending list with null values
Processing 3600 Agape Lane, 78735 (index 167).
167 Success!
No bathrooms for 3600 Agape Lane, 78735 (index 167). Appending list with null values
Processing 6104 Marigold Terrace, 78741 (index 168).
168 Success!
No bathrooms for 6104 Marigold Terrace, 78741 (index 168). Appending list with null values
Processing 6304 East Stassney Lane, 78744 (index 169).
169 Success!
No valuation found for 6304 East Stassney Lane, 78744 (index 169). Appending list with null values
No year built for 6304 East Stassney Lane, 78744 (index 169). Appending list with null values
No bathrooms for 6304 East Stassney Lane, 78744 (index 169). Appending list with null values
Processing 3203 Bruce Drive, 78735 (index 170).
170 Success!
No bathrooms for 3203 Bruce Drive, 78735 (index 170). Appending list with null values
Processing 7107 Grover Avenue, 78757 (index 171).
171 Success!
No bathrooms for 7107 Grover Avenue, 78757 (index 171). Appending list with null values
Processing 12220 Tanglewild Drive, 78758 (index 172).
172 Success!
No bathrooms for 12220 Tanglewild Drive, 78758 (index 172). Appending list with null values
Processing 7877 Lakewood Drive, 78750 (index 173).
173 Success!
No bathrooms for 7877 Lakewood Drive, 78750 (index 173). Appending list with null values
Processing 10106 Dianella Lane, 78759 (index 174).
174 Success!
No bathrooms for 10106 Dianella Lane, 78759 (index 174). Appending list with null values
No bedrooms for 10106 Dianella Lane, 78759 (index 174). Appending list with null values
Processing 109 Reveille Road, 78746 (index 175).
175 Success!
No valuation found for 109 Reveille Road, 78746 (index 175). Appending list with null values
No bathrooms for 109 Reveille Road, 78746 (index 175). Appending list with null values
No bedrooms for 109 Reveille Road, 78746 (index 175). Appending list with null values
Processing 2306 East Cesar Chavez Street, 78702 (index 176).
No record found for 2306 East Cesar Chavez Street, 78702 (index 176). Appending lists with null values
Processing 1039 Nile Street, 78702 (index 177).
177 Success!
No bathrooms for 1039 Nile Street, 78702 (index 177). Appending list with null values
No bedrooms for 1039 Nile Street, 78702 (index 177). Appending list with null values
Processing 1704 Raven Drive, 78752 (index 178).
178 Success!
No bathrooms for 1704 Raven Drive, 78752 (index 178). Appending list with null values
Processing 5301 Fairhill Drive, 78745 (index 179).
179 Success!
No bathrooms for 5301 Fairhill Drive, 78745 (index 179). Appending list with null values
Processing 11005 Baltus Drive, 78758 (index 180).
180 Success!
No bathrooms for 11005 Baltus Drive, 78758 (index 180). Appending list with null values
No bedrooms for 11005 Baltus Drive, 78758 (index 180). Appending list with null values
Processing 716 Cardinal Lane, 78704 (index 181).
181 Success!
No bathrooms for 716 Cardinal Lane, 78704 (index 181). Appending list with null values
Processing 125 Brandon Way, 78733 (index 182).

182 Success!
No valuation found for 125 Brandon Way, 78733 (index 182). Appending list with null values
No bathrooms for 125 Brandon Way, 78733 (index 182). Appending list with null values
Processing 8604 Georgian Drive, 78753 (index 183).
183 Success!
No bathrooms for 8604 Georgian Drive, 78753 (index 183). Appending list with null values
Processing 5706 Eagle Cliff, 78731 (index 184).
184 Success!
No bathrooms for 5706 Eagle Cliff, 78731 (index 184). Appending list with null values
No bedrooms for 5706 Eagle Cliff, 78731 (index 184). Appending list with null values
Processing 3620 Ranch Creek Drive, 78730 (index 185).
185 Success!
No bathrooms for 3620 Ranch Creek Drive, 78730 (index 185). Appending list with null values
Processing nan San Marcos Street, 78767 (index 186).
No record found for nan San Marcos Street, 78767 (index 186). Appending lists with null values
Processing 4514 Rimrock Trail, 78723 (index 187).
187 Success!
No bathrooms for 4514 Rimrock Trail, 78723 (index 187). Appending list with null values
No bedrooms for 4514 Rimrock Trail, 78723 (index 187). Appending list with null values
Processing 4101 Ramsey Avenue, 78756 (index 188).
188 Success!
No bathrooms for 4101 Ramsey Avenue, 78756 (index 188). Appending list with null values
No bedrooms for 4101 Ramsey Avenue, 78756 (index 188). Appending list with null values
Processing 6604 Convict Hill Road, 78749 (index 189).
189 Success!
No bathrooms for 6604 Convict Hill Road, 78749 (index 189). Appending list with null values
Processing 12200 Tyson Cove, 78758 (index 190).
190 Success!
No bathrooms for 12200 Tyson Cove, 78758 (index 190). Appending list with null values
Processing 4108 Todd Lane, 78744 (index 191).
191 Success!
No valuation found for 4108 Todd Lane, 78744 (index 191). Appending list with null values
No bathrooms for 4108 Todd Lane, 78744 (index 191). Appending list with null values
No bedrooms for 4108 Todd Lane, 78744 (index 191). Appending list with null values
Processing 11340 Platt Lane, 78725 (index 192).
192 Success!
No bathrooms for 11340 Platt Lane, 78725 (index 192). Appending list with null values
Processing 510 Barton Springs Road, 78704 (index 193).
No record found for 510 Barton Springs Road, 78704 (index 193). Appending lists with null values
Processing 806 Theresa Avenue, 78703 (index 194).
194 Success!
No bathrooms for 806 Theresa Avenue, 78703 (index 194). Appending list with null values
Processing 6606 Krollton Drive, 78745 (index 195).
195 Success!
No bathrooms for 6606 Krollton Drive, 78745 (index 195). Appending list with null values
Processing 1619 Woodward Street, 78741 (index 196).
No record found for 1619 Woodward Street, 78741 (index 196). Appending lists with null values
Processing 4513 Ruiz Street, 78723 (index 197).
197 Success!
No bathrooms for 4513 Ruiz Street, 78723 (index 197). Appending list with null values
Processing 1713 Old East Riverside Drive, 78741 (index 198).
No record found for 1713 Old East Riverside Drive, 78741 (index 198). Appending lists with null values
Processing 4504 Avenue G, 78751 (index 199).
199 Success!
No bathrooms for 4504 Avenue G, 78751 (index 199). Appending list with null values
No bedrooms for 4504 Avenue G, 78751 (index 199). Appending list with null values
Processing 1301 Capital of Texas Highway, 78746 (index 200).
200 Success!
No valuation found for 1301 Capital of Texas Highway, 78746 (index 200). Appending list with null values
No year built for 1301 Capital of Texas Highway, 78746 (index 200). Appending list with null values
No bathrooms for 1301 Capital of Texas Highway, 78746 (index 200). Appending list with null values
Processing 11511 Trinity Hill Drive, 78753 (index 201).
201 Success!
No bathrooms for 11511 Trinity Hill Drive, 78753 (index 201). Appending list with null values
No bedrooms for 11511 Trinity Hill Drive, 78753 (index 201). Appending list with null values
Processing 1902 Rabb Glen Street, 78704 (index 202).
No record found for 1902 Rabb Glen Street, 78704 (index 202). Appending lists with null values
Processing 9100 FM 812, 78719 (index 203).
203 Success!
No bathrooms for 9100 FM 812, 78719 (index 203). Appending list with null values
No bedrooms for 9100 FM 812, 78719 (index 203). Appending list with null values
Processing nan Guadalupe Street, 78752 (index 204).
No record found for nan Guadalupe Street, 78752 (index 204). Appending lists with null values
Processing 8105 Canoga Avenue, 78724 (index 205).
205 Success!
No valuation found for 8105 Canoga Avenue, 78724 (index 205). Appending list with null values
No bathrooms for 8105 Canoga Avenue, 78724 (index 205). Appending list with null values
Processing 7207 Old Bee Cave Road, 78735 (index 206).
No record found for 7207 Old Bee Cave Road, 78735 (index 206). Appending lists with null values
Processing 4409 Walhill Lane, 78759 (index 207).
207 Success!
No bathrooms for 4409 Walhill Lane, 78759 (index 207). Appending list with null values
No bedrooms for 4409 Walhill Lane, 78759 (index 207). Appending list with null values
Processing 4004 Shadow Oak Lane, 78746 (index 208).
208 Success!
No bathrooms for 4004 Shadow Oak Lane, 78746 (index 208). Appending list with null values
No bedrooms for 4004 Shadow Oak Lane, 78746 (index 208). Appending list with null values
Processing 5709 McCarty Lane, 78749 (index 209).
No record found for 5709 McCarty Lane, 78749 (index 209). Appending lists with null values
Processing 8904 Yucca Mountain Road, 78759 (index 210).
210 Success!
No bathrooms for 8904 Yucca Mountain Road, 78759 (index 210). Appending list with null values
No bedrooms for 8904 Yucca Mountain Road, 78759 (index 210). Appending list with null values
Processing 5534 Blue Bluff Road, 78724 (index 211).
No record found for 5534 Blue Bluff Road, 78724 (index 211). Appending lists with null values
Processing 11525 Stonehollow Drive, 78758 (index 212).
No record found for 11525 Stonehollow Drive, 78758 (index 212). Appending lists with null values
Processing 2710 Bristol Drive, 78723 (index 213).
213 Success!
No bathrooms for 2710 Bristol Drive, 78723 (index 213). Appending list with null values
Processing 1127 Terry Drive, 78721 (index 214).
214 Success!
No bathrooms for 1127 Terry Drive, 78721 (index 214). Appending list with null values
Processing 4506 Eby Lane, 78731 (index 215).
215 Success!
No bathrooms for 4506 Eby Lane, 78731 (index 215). Appending list with null values
No bedrooms for 4506 Eby Lane, 78731 (index 215). Appending list with null values
Processing 10439 FM 812;FM 973, 78719 (index 216).
No record found for 10439 FM 812;FM 973, 78719 (index 216). Appending lists with null values
Processing 9725 Interstate 35 Frontage Road, 78744 (index 217).
No record found for 9725 Interstate 35 Frontage Road, 78744 (index 217). Appending lists with null values
Processing 5304 Bennett Avenue, 78751 (index 218).
218 Success!
No bathrooms for 5304 Bennett Avenue, 78751 (index 218). Appending list with null values
Processing 7024 Kings Row, 78746 (index 219).
No record found for 7024 Kings Row, 78746 (index 219). Appending lists with null values
Processing 8700 Crystal Creek Circle, 78746 (index 220).
220 Success!
No bathrooms for 8700 Crystal Creek Circle, 78746 (index 220). Appending list with null values
No bedrooms for 8700 Crystal Creek Circle, 78746 (index 220). Appending list with null values
Processing 8001 Delwau Lane, 78725 (index 221).
No record found for 8001 Delwau Lane, 78725 (index 221). Appending lists with null values
Processing 8920 Ramirez Lane, 78742 (index 222).
No record found for 8920 Ramirez Lane, 78742 (index 222). Appending lists with null values
Processing 7496 Cielo Serena Trail, 78724 (index 223).
No record found for 7496 Cielo Serena Trail, 78724 (index 223). Appending lists with null values
Processing 8402 Beaver Brook Lane, 78748 (index 224).
224 Success!
No bathrooms for 8402 Beaver Brook Lane, 78748 (index 224). Appending list with null values
Processing 600 Beardsley Lane, 78746 (index 225).
225 Success!
No bathrooms for 600 Beardsley Lane, 78746 (index 225). Appending list with null values
Processing 300 Edwin Lane, 78742 (index 226).
226 Success!
No valuation found for 300 Edwin Lane, 78742 (index 226). Appending list with null values
No year built for 300 Edwin Lane, 78742 (index 226). Appending list with null values
No bathrooms for 300 Edwin Lane, 78742 (index 226). Appending list with null values
Processing 5752 North Scout Island Circle, 78731 (index 227).

227 Success!
No bathrooms for 5752 North Scout Island Circle, 78731 (index 227). Appending list with null values
Processing 6600 West William Cannon Drive, 78735 (index 228).
No record found for 6600 West William Cannon Drive, 78735 (index 228). Appending lists with null values
Processing 713 Kinney Avenue, 78704 (index 229).
229 Success!
No bathrooms for 713 Kinney Avenue, 78704 (index 229). Appending list with null values
Processing 5600 Decker Lane, 78724 (index 230).
No record found for 5600 Decker Lane, 78724 (index 230). Appending lists with null values
Processing 1707 Overhill Drive, 78721 (index 231).
231 Success!
No bathrooms for 1707 Overhill Drive, 78721 (index 231). Appending list with null values
No bedrooms for 1707 Overhill Drive, 78721 (index 231). Appending list with null values
Processing 2412 Burleson Court, 78741 (index 232).
232 Success!
No bathrooms for 2412 Burleson Court, 78741 (index 232). Appending list with null values
Processing 5634 Sedona Drive, 78759 (index 233).
233 Success!
No bathrooms for 5634 Sedona Drive, 78759 (index 233). Appending list with null values
Processing 8507 Bell Mountain Drive, 78730 (index 234).
234 Success!
No bathrooms for 8507 Bell Mountain Drive, 78730 (index 234). Appending list with null values
No bedrooms for 8507 Bell Mountain Drive, 78730 (index 234). Appending list with null values
Processing 7164 Ridge Oak Road, 78749 (index 235).
235 Success!
No bathrooms for 7164 Ridge Oak Road, 78749 (index 235). Appending list with null values
No bedrooms for 7164 Ridge Oak Road, 78749 (index 235). Appending list with null values
Processing 1507 Tall Shadows Drive, 78617 (index 236).
236 Success!
No valuation found for 1507 Tall Shadows Drive, 78617 (index 236). Appending list with null values
No bathrooms for 1507 Tall Shadows Drive, 78617 (index 236). Appending list with null values
No bedrooms for 1507 Tall Shadows Drive, 78617 (index 236). Appending list with null values
Processing 4402 Elmsgrove Drive, 78721 (index 237).
237 Success!
No bathrooms for 4402 Elmsgrove Drive, 78721 (index 237). Appending list with null values
Processing 5810 Decker Lane, 78724 (index 238).
No record found for 5810 Decker Lane, 78724 (index 238). Appending lists with null values
Processing 9605 Crenata Cove, 78759 (index 239).
239 Success!
No bathrooms for 9605 Crenata Cove, 78759 (index 239). Appending list with null values
No bedrooms for 9605 Crenata Cove, 78759 (index 239). Appending list with null values
Processing 604 Logans Lane, 78746 (index 240).
240 Success!
No bathrooms for 604 Logans Lane, 78746 (index 240). Appending list with null values
Processing 2112 West 11th Street, 78703 (index 241).
241 Success!
No bathrooms for 2112 West 11th Street, 78703 (index 241). Appending list with null values
Processing 4403 Elohi Drive, 78746 (index 242).
242 Success!
No bathrooms for 4403 Elohi Drive, 78746 (index 242). Appending list with null values
No bedrooms for 4403 Elohi Drive, 78746 (index 242). Appending list with null values
Processing 9004 Bluegrass Drive, 78759 (index 243).
243 Success!
No bathrooms for 9004 Bluegrass Drive, 78759 (index 243). Appending list with null values
No bedrooms for 9004 Bluegrass Drive, 78759 (index 243). Appending list with null values
Processing 5302 Ponciana Drive, 78744 (index 244).
244 Success!
No bathrooms for 5302 Ponciana Drive, 78744 (index 244). Appending list with null values
No bedrooms for 5302 Ponciana Drive, 78744 (index 244). Appending list with null values
Processing 9501 Prince William Road, 78730 (index 245).
245 Success!
No bathrooms for 9501 Prince William Road, 78730 (index 245). Appending list with null values
Processing 4610 Tannehill Lane, 78721 (index 246).
No record found for 4610 Tannehill Lane, 78721 (index 246). Appending lists with null values
Processing 11907 Conann Court, 78753 (index 247).
247 Success!
No bathrooms for 11907 Conann Court, 78753 (index 247). Appending list with null values
No bedrooms for 11907 Conann Court, 78753 (index 247). Appending list with null values
Processing 1101 Cedar Bend Drive, 78758 (index 248).
248 Success!
No valuation found for 1101 Cedar Bend Drive, 78758 (index 248). Appending list with null values
No bathrooms for 1101 Cedar Bend Drive, 78758 (index 248). Appending list with null values
Processing 4304 Marathon Boulevard, 78756 (index 249).
249 Success!
No bathrooms for 4304 Marathon Boulevard, 78756 (index 249). Appending list with null values
Processing 1401 Phillips Court, 78733 (index 250).
No record found for 1401 Phillips Court, 78733 (index 250). Appending lists with null values
Processing 7100 Colorado High Avenue, 787 (index 251).
No record found for 7100 Colorado High Avenue, 787 (index 251). Appending lists with null values
Processing 3901 Lakeplace Lane, 78746 (index 252).
252 Success!
No bathrooms for 3901 Lakeplace Lane, 78746 (index 252). Appending list with null values
No bedrooms for 3901 Lakeplace Lane, 78746 (index 252). Appending list with null values
Processing 3221 Silkgrass Bend, 78748 (index 253).
253 Success!
No bathrooms for 3221 Silkgrass Bend, 78748 (index 253). Appending list with null values
No bedrooms for 3221 Silkgrass Bend, 78748 (index 253). Appending list with null values
Processing 6704 West Courtyard Drive, 78730 (index 254).
254 Success!
No bathrooms for 6704 West Courtyard Drive, 78730 (index 254). Appending list with null values
Processing 7914 Burrell Drive, 78757 (index 255).
255 Success!
No bathrooms for 7914 Burrell Drive, 78757 (index 255). Appending list with null values
No bedrooms for 7914 Burrell Drive, 78757 (index 255). Appending list with null values
Processing 5403 Lurlyne Court, 78744 (index 256).
256 Success!
No bathrooms for 5403 Lurlyne Court, 78744 (index 256). Appending list with null values
No bedrooms for 5403 Lurlyne Court, 78744 (index 256). Appending list with null values
Processing 3701 Hawkshead Drive, 78727 (index 257).
257 Success!
No bathrooms for 3701 Hawkshead Drive, 78727 (index 257). Appending list with null values
No bedrooms for 3701 Hawkshead Drive, 78727 (index 257). Appending list with null values
Processing 2705 Crest Avenue, 78702 (index 258).
258 Success!
No bathrooms for 2705 Crest Avenue, 78702 (index 258). Appending list with null values
Processing 7935 Escala Drive, 78735 (index 259).
259 Success!
No bathrooms for 7935 Escala Drive, 78735 (index 259). Appending list with null values
No bedrooms for 7935 Escala Drive, 78735 (index 259). Appending list with null values
Processing 10114 Jollyville Road, 78759 (index 260).
No record found for 10114 Jollyville Road, 78759 (index 260). Appending lists with null values
Processing 10252 Old Lockhart Highway, 78747 (index 261).
No record found for 10252 Old Lockhart Highway, 78747 (index 261). Appending lists with null values
Processing 1109 Fieldcrest Drive, 78704 (index 262).
262 Success!
No bathrooms for 1109 Fieldcrest Drive, 78704 (index 262). Appending list with null values
Processing 1624 City Park Road, 78730 (index 263).
No record found for 1624 City Park Road, 78730 (index 263). Appending lists with null values
Processing 2585 Forest Bend Drive, 78704 (index 264).
No record found for 2585 Forest Bend Drive, 78704 (index 264). Appending lists with null values
Processing 3504 Denwood Drive, 78759 (index 265).
265 Success!
No bathrooms for 3504 Denwood Drive, 78759 (index 265). Appending list with null values
Processing 8920 Ramirez Lane, 78742 (index 266).
No record found for 8920 Ramirez Lane, 78742 (index 266). Appending lists with null values
Processing 7901 Verbank Vila Drive, 78747 (index 267).
267 Success!
No bathrooms for 7901 Verbank Vila Drive, 78747 (index 267). Appending list with null values
No bedrooms for 7901 Verbank Vila Drive, 78747 (index 267). Appending list with null values
Processing 9300 Bell Mountain Drive, 78730 (index 268).
268 Success!
No bathrooms for 9300 Bell Mountain Drive, 78730 (index 268). Appending list with null values
Processing 1205 Payne Avenue, 78757 (index 269).
269 Success!
No bathrooms for 1205 Payne Avenue, 78757 (index 269). Appending list with null values
No bedrooms for 1205 Payne Avenue, 78757 (index 269). Appending list with null values
Processing 103 Brazos Street, 78701 (index 270).
270 Success!
No bathrooms for 103 Brazos Street, 78701 (index 270). Appending list with null values
Processing 2417 Hartford Road, 78703 (index 271).

271 Success!
No bathrooms for 2417 Hartford Road, 78703 (index 271). Appending list with null values
Processing 5 Stegner Lane, 78746 (index 272).
272 Success!
No bathrooms for 5 Stegner Lane, 78746 (index 272). Appending list with null values
Processing 2921 Farm-to-Market Road 973, 78725 (index 273).
No record found for 2921 Farm-to-Market Road 973, 78725 (index 273). Appending lists with null values
Processing 2155 Parkway, 78703 (index 274).
No record found for 2155 Parkway, 78703 (index 274). Appending lists with null values
Processing 11012 Sierra Verde Trail, 78759 (index 275).
275 Success!
No bathrooms for 11012 Sierra Verde Trail, 78759 (index 275). Appending list with null values
No bedrooms for 11012 Sierra Verde Trail, 78759 (index 275). Appending list with null values
Processing 1209 Dusky Thrush Trail, 78746 (index 276).
276 Success!
No bathrooms for 1209 Dusky Thrush Trail, 78746 (index 276). Appending list with null values
No bedrooms for 1209 Dusky Thrush Trail, 78746 (index 276). Appending list with null values
Processing 9214 Thaxton Road, 78747 (index 277).
277 Success!
No bathrooms for 9214 Thaxton Road, 78747 (index 277). Appending list with null values
Processing 3913 Avenue F, 78751 (index 278).
278 Success!
No bathrooms for 3913 Avenue F, 78751 (index 278). Appending list with null values
Processing 5601 Little Cypress Lane, 78744 (index 279).
279 Success!
No valuation found for 5601 Little Cypress Lane, 78744 (index 279). Appending list with null values
No bathrooms for 5601 Little Cypress Lane, 78744 (index 279). Appending list with null values
No bedrooms for 5601 Little Cypress Lane, 78744 (index 279). Appending list with null values
Processing 1305 Cuernavaca Drive North, 78733 (index 280).
280 Success!
No bathrooms for 1305 Cuernavaca Drive North, 78733 (index 280). Appending list with null values
No bedrooms for 1305 Cuernavaca Drive North, 78733 (index 280). Appending list with null values
Processing 8000 Willet Trail, 78745 (index 281).
281 Success!
No bathrooms for 8000 Willet Trail, 78745 (index 281). Appending list with null values
No bedrooms for 8000 Willet Trail, 78745 (index 281). Appending list with null values
Processing 4407 City Park Road, 78730 (index 282).
282 Success!
No bathrooms for 4407 City Park Road, 78730 (index 282). Appending list with null values
No bedrooms for 4407 City Park Road, 78730 (index 282). Appending list with null values
Processing 506 Crystal Creek Drive, 78746 (index 283).
No record found for 506 Crystal Creek Drive, 78746 (index 283). Appending lists with null values
Processing 2304 Portofino Ridge Drive, 78735 (index 284).
284 Success!
No bathrooms for 2304 Portofino Ridge Drive, 78735 (index 284). Appending list with null values
Processing 10608 Macmora Road, 78758 (index 285).
285 Success!
No bathrooms for 10608 Macmora Road, 78758 (index 285). Appending list with null values
No bedrooms for 10608 Macmora Road, 78758 (index 285). Appending list with null values
Processing 1819 West 38th Street, 78731 (index 286).
286 Success!
No bathrooms for 1819 West 38th Street, 78731 (index 286). Appending list with null values
Processing 6407 Culpepper Cove, 78730 (index 287).
287 Success!
No bathrooms for 6407 Culpepper Cove, 78730 (index 287). Appending list with null values
Processing 807 Sheraton Avenue, 78745 (index 288).
288 Success!
No bathrooms for 807 Sheraton Avenue, 78745 (index 288). Appending list with null values
Processing 3401 McCall Lane, 78744 (index 289).
289 Success!
No bathrooms for 3401 McCall Lane, 78744 (index 289). Appending list with null values
No bedrooms for 3401 McCall Lane, 78744 (index 289). Appending list with null values
Processing 9036 North Lamar Boulevard, 78758 (index 290).
290 Success!
No valuation found for 9036 North Lamar Boulevard, 78758 (index 290). Appending list with null values
No bathrooms for 9036 North Lamar Boulevard, 78758 (index 290). Appending list with null values
Processing 4003 Mesa Cove, 78731 (index 291).
No record found for 4003 Mesa Cove, 78731 (index 291). Appending lists with null values
Processing 3505 Alpine Circle, 78704 (index 292).
292 Success!
No bathrooms for 3505 Alpine Circle, 78704 (index 292). Appending list with null values
No bedrooms for 3505 Alpine Circle, 78704 (index 292). Appending list with null values
Processing 4817 Old Spicewood Springs Road, 78759 (index 293).
No record found for 4817 Old Spicewood Springs Road, 78759 (index 293). Appending lists with null values
Processing 301 East Longspur Boulevard, 78753 (index 294).
294 Success!
No bathrooms for 301 East Longspur Boulevard, 78753 (index 294). Appending list with null values
No bedrooms for 301 East Longspur Boulevard, 78753 (index 294). Appending list with null values
Processing 3800 Barton Creek Boulevard, 78735 (index 295).
295 Success!
No bathrooms for 3800 Barton Creek Boulevard, 78735 (index 295). Appending list with null values
Processing 9508 Jollyville Road, 78759 (index 296).
No record found for 9508 Jollyville Road, 78759 (index 296). Appending lists with null values
Processing 2356 Cromwell Circle, 78741 (index 297).
No record found for 2356 Cromwell Circle, 78741 (index 297). Appending lists with null values
Processing 616 Logans Lane, 78746 (index 298).
298 Success!
No valuation found for 616 Logans Lane, 78746 (index 298). Appending list with null values
No year built for 616 Logans Lane, 78746 (index 298). Appending list with null values
No bathrooms for 616 Logans Lane, 78746 (index 298). Appending list with null values
Processing 15 Rob Roy Road, 78746 (index 299).
299 Success!
No bathrooms for 15 Rob Roy Road, 78746 (index 299). Appending list with null values
No bedrooms for 15 Rob Roy Road, 78746 (index 299). Appending list with null values
Processing 5108 Shaw Lane, 78744 (index 300).
No record found for 5108 Shaw Lane, 78744 (index 300). Appending lists with null values
Processing 2203 Thornton Road, 78704 (index 301).
301 Success!
No bathrooms for 2203 Thornton Road, 78704 (index 301). Appending list with null values
Processing 8425 Asmara Drive, 78750 (index 302).
302 Success!
No bathrooms for 8425 Asmara Drive, 78750 (index 302). Appending list with null values
Processing 9020 Bluff Springs Road, 78747 (index 303).
303 Success!
No bathrooms for 9020 Bluff Springs Road, 78747 (index 303). Appending list with null values
No bedrooms for 9020 Bluff Springs Road, 78747 (index 303). Appending list with null values
Processing 201 Edwin Lane, 78742 (index 304).
304 Success!
No bathrooms for 201 Edwin Lane, 78742 (index 304). Appending list with null values
Processing 2900 Susquehanna Lane, 78723 (index 305).
305 Success!
No bathrooms for 2900 Susquehanna Lane, 78723 (index 305). Appending list with null values
No bedrooms for 2900 Susquehanna Lane, 78723 (index 305). Appending list with null values
Processing 8501 Lava Hill Road, 78744 (index 306).
No record found for 8501 Lava Hill Road, 78744 (index 306). Appending lists with null values
Processing 6201 Bolm Road, 78721 (index 307).
No record found for 6201 Bolm Road, 78721 (index 307). Appending lists with null values
Processing 2721 Lost Creek Boulevard, 78735 (index 308).
No record found for 2721 Lost Creek Boulevard, 78735 (index 308). Appending lists with null values
Processing 3703 Turkey Creek Drive, 78730 (index 309).
309 Success!
No bathrooms for 3703 Turkey Creek Drive, 78730 (index 309). Appending list with null values
No bedrooms for 3703 Turkey Creek Drive, 78730 (index 309). Appending list with null values
Processing 7443 Bee Caves Road, 78746 (index 310).
No record found for 7443 Bee Caves Road, 78746 (index 310). Appending lists with null values
Processing 704 Knollwood Drive, 78746 (index 311).
311 Success!
No bathrooms for 704 Knollwood Drive, 78746 (index 311). Appending list with null values
Processing 1204 West 44th Street, 78756 (index 312).
No record found for 1204 West 44th Street, 78756 (index 312). Appending lists with null values
Processing 2100 Ringtail Ridge, 78746 (index 313).
313 Success!
No bathrooms for 2100 Ringtail Ridge, 78746 (index 313). Appending list with null values
Processing 6906 Arroyo Seco, 78757 (index 314).
314 Success!
No bathrooms for 6906 Arroyo Seco, 78757 (index 314). Appending list with null values

Processing 8315 1/2 Steamline Circle, 78745 (index 315).
No record found for 8315 1/2 Steamline Circle, 78745 (index 315). Appending lists with null values
Processing 2712 Bartons Bluff Lane, 78746 (index 316).
316 Success!
No bathrooms for 2712 Bartons Bluff Lane, 78746 (index 316). Appending list with null values
Processing 2411 Campden Drive, 78745 (index 317).
317 Success!
No bathrooms for 2411 Campden Drive, 78745 (index 317). Appending list with null values
Processing 7728 FM 1625, 78744 (index 318).
No record found for 7728 FM 1625, 78744 (index 318). Appending lists with null values
Processing 1610 Dungan Lane, 78754 (index 319).
No record found for 1610 Dungan Lane, 78754 (index 319). Appending lists with null values
Processing 4208 Kings Court, 78724 (index 320).
320 Success!
No bathrooms for 4208 Kings Court, 78724 (index 320). Appending list with null values
No bedrooms for 4208 Kings Court, 78724 (index 320). Appending list with null values
Processing 8297 Decker Lane, 78724 (index 321).
No record found for 8297 Decker Lane, 78724 (index 321). Appending lists with null values
Processing 10810 North Lamar Boulevard, 78753 (index 322).
No record found for 10810 North Lamar Boulevard, 78753 (index 322). Appending lists with null values
Processing 610 East 48th Street, 78751 (index 323).
323 Success!
No bathrooms for 610 East 48th Street, 78751 (index 323). Appending list with null values
Processing 2105 Kemper Cove, 78746 (index 324).
324 Success!
No bathrooms for 2105 Kemper Cove, 78746 (index 324). Appending list with null values
No bedrooms for 2105 Kemper Cove, 78746 (index 324). Appending list with null values
Processing 1300 1/2 North Interstate Highway 35 Service Road, 78701 (index 325).
No record found for 1300 1/2 North Interstate Highway 35 Service Road, 78701 (index 325). Appending lists with null values
Processing 1713 Taylor Gaines Street, 78741 (index 326).
326 Success!
No bathrooms for 1713 Taylor Gaines Street, 78741 (index 326). Appending list with null values
Processing 4901 China Garden Drive, 78730 (index 327).
327 Success!
No valuation found for 4901 China Garden Drive, 78730 (index 327). Appending list with null values
No year built for 4901 China Garden Drive, 78730 (index 327). Appending list with null values
No bathrooms for 4901 China Garden Drive, 78730 (index 327). Appending list with null values
Processing 5001 Convict Hill Road, 78749 (index 328).
328 Success!
No valuation found for 5001 Convict Hill Road, 78749 (index 328). Appending list with null values
No bathrooms for 5001 Convict Hill Road, 78749 (index 328). Appending list with null values
Processing 1322 1/2 Airport Commerce Drive, 78741 (index 329).
No record found for 1322 1/2 Airport Commerce Drive, 78741 (index 329). Appending lists with null values
Processing 7700 Pleasant Meadow Circle, 78731 (index 330).
330 Success!
No bathrooms for 7700 Pleasant Meadow Circle, 78731 (index 330). Appending list with null values
Processing 1001 Ed Bluestein Boulevard, 78725 (index 331).
No record found for 1001 Ed Bluestein Boulevard, 78725 (index 331). Appending lists with null values
Processing 701 Bastrop Highway, 78742 (index 332).
No record found for 701 Bastrop Highway, 78742 (index 332). Appending lists with null values
Processing 1810 Niles Road, 78703 (index 333).
333 Success!
No bathrooms for 1810 Niles Road, 78703 (index 333). Appending list with null values
No bedrooms for 1810 Niles Road, 78703 (index 333). Appending list with null values
Processing 8930 Galewood Drive, 78758 (index 334).
334 Success!
No valuation found for 8930 Galewood Drive, 78758 (index 334). Appending list with null values
No bathrooms for 8930 Galewood Drive, 78758 (index 334). Appending list with null values
Processing 4906 Canella Drive, 78744 (index 335).
335 Success!
No bathrooms for 4906 Canella Drive, 78744 (index 335). Appending list with null values
No bedrooms for 4906 Canella Drive, 78744 (index 335). Appending list with null values
Processing 6111 East Riverside Drive, 78741 (index 336).
No record found for 6111 East Riverside Drive, 78741 (index 336). Appending lists with null values
Processing 3801 Ranch Creek Drive, 78730 (index 337).
337 Success!
No bathrooms for 3801 Ranch Creek Drive, 78730 (index 337). Appending list with null values
No bedrooms for 3801 Ranch Creek Drive, 78730 (index 337). Appending list with null values
Processing 4104 Speedway, 78751 (index 338).
338 Success!
No bathrooms for 4104 Speedway, 78751 (index 338). Appending list with null values
No bedrooms for 4104 Speedway, 78751 (index 338). Appending list with null values
Processing 6101 Blarwood Drive, 78745 (index 339).
339 Success!
No bathrooms for 6101 Blarwood Drive, 78745 (index 339). Appending list with null values
No bedrooms for 6101 Blarwood Drive, 78745 (index 339). Appending list with null values
Processing 2744 Tom Miller Street, 78722 (index 340).
340 Success!
No bathrooms for 2744 Tom Miller Street, 78722 (index 340). Appending list with null values
Processing 3161 Eva Street, 78617 (index 341).
No record found for 3161 Eva Street, 78617 (index 341). Appending lists with null values
Processing 3208 Duke Road, 78724 (index 342).
No record found for 3208 Duke Road, 78724 (index 342). Appending lists with null values
Processing nan Guadalupe Street, 78752 (index 343).
No record found for nan Guadalupe Street, 78752 (index 343). Appending lists with null values
Processing 718 Yarsa Boulevard, 78748 (index 344).
344 Success!
No bathrooms for 718 Yarsa Boulevard, 78748 (index 344). Appending list with null values
No bedrooms for 718 Yarsa Boulevard, 78748 (index 344). Appending list with null values
Processing 4409 Avenue C, 78751 (index 345).
345 Success!
No bathrooms for 4409 Avenue C, 78751 (index 345). Appending list with null values
No bedrooms for 4409 Avenue C, 78751 (index 345). Appending list with null values
Processing 12207 Waters Park Road, 78759 (index 346).
No record found for 12207 Waters Park Road, 78759 (index 346). Appending lists with null values
Processing 5714 Terra Vista Drive, 78735 (index 347).
No record found for 5714 Terra Vista Drive, 78735 (index 347). Appending lists with null values
Processing nan Sorghum Hill Drive, 78753 (index 348).
No record found for nan Sorghum Hill Drive, 78753 (index 348). Appending lists with null values
Processing 5300 Crainway Drive, 78724 (index 349).
No record found for 5300 Crainway Drive, 78724 (index 349). Appending lists with null values
Processing 11103 Platt Lane, 78725 (index 350).
No record found for 11103 Platt Lane, 78725 (index 350). Appending lists with null values
Processing 5800 Zachary Scott Street, 78747 (index 351).
351 Success!
No bathrooms for 5800 Zachary Scott Street, 78747 (index 351). Appending list with null values
Processing 5108 Shaw Lane, 78744 (index 352).
No record found for 5108 Shaw Lane, 78744 (index 352). Appending lists with null values
Processing 5608 West US Highway 290, 78735 (index 353).
No record found for 5608 West US Highway 290, 78735 (index 353). Appending lists with null values
Processing 7301 Cayenne Lane, 78742 (index 354).
354 Success!
No bathrooms for 7301 Cayenne Lane, 78742 (index 354). Appending list with null values
No bedrooms for 7301 Cayenne Lane, 78742 (index 354). Appending list with null values
Processing 1118 Desirable Drive, 78721 (index 355).
355 Success!
No bathrooms for 1118 Desirable Drive, 78721 (index 355). Appending list with null values
No bedrooms for 1118 Desirable Drive, 78721 (index 355). Appending list with null values
Processing nan Colorado Street, 78701 (index 356).
No record found for nan Colorado Street, 78701 (index 356). Appending lists with null values
Processing 8213 Old Manor Road, 78724 (index 357).
No record found for 8213 Old Manor Road, 78724 (index 357). Appending lists with null values
Processing 6372 Capital of Texas Highway, 78731 (index 358).
No record found for 6372 Capital of Texas Highway, 78731 (index 358). Appending lists with null values
Processing 5909 Burleson Road, 78744 (index 359).
359 Success!
No bathrooms for 5909 Burleson Road, 78744 (index 359). Appending list with null values
No bedrooms for 5909 Burleson Road, 78744 (index 359). Appending list with null values
Processing 1120 Elder Circle, 78733 (index 360).

360 Success!
No bathrooms for 1120 Elder Circle, 78733 (index 360). Appending list with null values
Processing 1100 Fallwell Lane, 78617 (index 361).
No record found for 1100 Fallwell Lane, 78617 (index 361). Appending lists with null values
Processing 6414 Cottonmouth School Road, 78744 (index 362).
No record found for 6414 Cottonmouth School Road, 78744 (index 362). Appending lists with null values
Processing 1210 Bob Harrison Street, 78702 (index 363).
363 Success!
No bathrooms for 1210 Bob Harrison Street, 78702 (index 363). Appending list with null values
Processing 5301 East Oltorf Street, 78741 (index 364).
No record found for 5301 East Oltorf Street, 78741 (index 364). Appending lists with null values
Processing 7900 Loyola Lane, 78724 (index 365).
No record found for 7900 Loyola Lane, 78724 (index 365). Appending lists with null values
Processing 1940 Webberville Road, 78721 (index 366).
366 Success!
No bathrooms for 1940 Webberville Road, 78721 (index 366). Appending list with null values
No bedrooms for 1940 Webberville Road, 78721 (index 366). Appending list with null values
Processing 3201 Lookout Lane, 78746 (index 367).
367 Success!
No bathrooms for 3201 Lookout Lane, 78746 (index 367). Appending list with null values
No bedrooms for 3201 Lookout Lane, 78746 (index 367). Appending list with null values
Processing 2204 Canonero Drive, 78746 (index 368).
368 Success!
No bathrooms for 2204 Canonero Drive, 78746 (index 368). Appending list with null values
Processing 9139 Nuckols Crossing Road, 78747 (index 369).
369 Success!
No valuation found for 9139 Nuckols Crossing Road, 78747 (index 369). Appending list with null values
No year built for 9139 Nuckols Crossing Road, 78747 (index 369). Appending list with null values
No bathrooms for 9139 Nuckols Crossing Road, 78747 (index 369). Appending list with null values
Processing 2121 Callingwood Drive, 78754 (index 370).
370 Success!
No bathrooms for 2121 Callingwood Drive, 78754 (index 370). Appending list with null values
Processing 9383 New Airport Drive, 78719 (index 371).
No record found for 9383 New Airport Drive, 78719 (index 371). Appending lists with null values
Processing 6523 Twin Creek Hollow, 78750 (index 372).
No record found for 6523 Twin Creek Hollow, 78750 (index 372). Appending lists with null values
Processing 4604 Island Cove, 78731 (index 373).
373 Success!
No bathrooms for 4604 Island Cove, 78731 (index 373). Appending list with null values
No bedrooms for 4604 Island Cove, 78731 (index 373). Appending list with null values
Processing 4702 Trail West Drive, 78735 (index 374).
374 Success!
No bathrooms for 4702 Trail West Drive, 78735 (index 374). Appending list with null values
No bedrooms for 4702 Trail West Drive, 78735 (index 374). Appending list with null values
Processing 12030 Samsung Boulevard, 78754 (index 375).
No record found for 12030 Samsung Boulevard, 78754 (index 375). Appending lists with null values
Processing 5701 East Martin Luther King Jr Boulevard, 78721 (index 376).
No record found for 5701 East Martin Luther King Jr Boulevard, 78721 (index 376). Appending lists with null values
Processing 3103 Sweet Autumn Cove, 78735 (index 377).
377 Success!
No bathrooms for 3103 Sweet Autumn Cove, 78735 (index 377). Appending list with null values
Processing 113 Tumbleweed Trail South, 78733 (index 378).
No record found for 113 Tumbleweed Trail South, 78733 (index 378). Appending lists with null values
Processing 1007 Glen Oaks Court, 78702 (index 379).
379 Success!
No bathrooms for 1007 Glen Oaks Court, 78702 (index 379). Appending list with null values
Processing 7455 Pusch Ridge Loop, 78749 (index 380).
380 Success!
No bathrooms for 7455 Pusch Ridge Loop, 78749 (index 380). Appending list with null values
Processing 6498 East US 290 Frontage Road, 78723 (index 381).
No record found for 6498 East US 290 Frontage Road, 78723 (index 381). Appending lists with null values
Processing 10200 Giles Lane, 78754 (index 382).
382 Success!
No valuation found for 10200 Giles Lane, 78754 (index 382). Appending list with null values
No year built for 10200 Giles Lane, 78754 (index 382). Appending list with null values
No bathrooms for 10200 Giles Lane, 78754 (index 382). Appending list with null values
No bedrooms for 10200 Giles Lane, 78754 (index 382). Appending list with null values
Processing 2409 Shapard Lane, 78617 (index 383).
No record found for 2409 Shapard Lane, 78617 (index 383). Appending lists with null values
Processing 8800 Ramirez Lane, 78742 (index 384).
No record found for 8800 Ramirez Lane, 78742 (index 384). Appending lists with null values
Processing 6105 Turtle Point Drive, 78746 (index 385).
385 Success!
No bathrooms for 6105 Turtle Point Drive, 78746 (index 385). Appending list with null values
No bedrooms for 6105 Turtle Point Drive, 78746 (index 385). Appending list with null values
Processing 6300 Chambly Cove, 78730 (index 386).
386 Success!
No bathrooms for 6300 Chambly Cove, 78730 (index 386). Appending list with null values
No bedrooms for 6300 Chambly Cove, 78730 (index 386). Appending list with null values
Processing 3409 Davis Lane, 78748 (index 387).
387 Success!
No bathrooms for 3409 Davis Lane, 78748 (index 387). Appending list with null values
Processing 8304 Sassman Road, 78747 (index 388).
388 Success!
No bathrooms for 8304 Sassman Road, 78747 (index 388). Appending list with null values
No bedrooms for 8304 Sassman Road, 78747 (index 388). Appending list with null values
Processing 4901 Winnebago Lane, 78744 (index 389).
No record found for 4901 Winnebago Lane, 78744 (index 389). Appending lists with null values
Processing 7401 Southgate Lane, 78744 (index 390).
390 Success!
No bathrooms for 7401 Southgate Lane, 78744 (index 390). Appending list with null values
No bedrooms for 7401 Southgate Lane, 78744 (index 390). Appending list with null values
Processing 8108 Barton Club Drive, 78735 (index 391).
391 Success!
No valuation found for 8108 Barton Club Drive, 78735 (index 391). Appending list with null values
No bathrooms for 8108 Barton Club Drive, 78735 (index 391). Appending list with null values
No bedrooms for 8108 Barton Club Drive, 78735 (index 391). Appending list with null values
Processing 3018 Gonzales Street, 78702 (index 392).
No record found for 3018 Gonzales Street, 78702 (index 392). Appending lists with null values
Processing 9522 Sprinkle Cutoff Road, 78754 (index 393).
No record found for 9522 Sprinkle Cutoff Road, 78754 (index 393). Appending lists with null values
Processing 8212 Talbot Cove, 78746 (index 394).
394 Success!
No bathrooms for 8212 Talbot Cove, 78746 (index 394). Appending list with null values
No bedrooms for 8212 Talbot Cove, 78746 (index 394). Appending list with null values
Processing 8910 FM 812, 78719 (index 395).
395 Success!
No valuation found for 8910 FM 812, 78719 (index 395). Appending list with null values
No bathrooms for 8910 FM 812, 78719 (index 395). Appending list with null values
No bedrooms for 8910 FM 812, 78719 (index 395). Appending list with null values
Processing 300 Edwin Lane, 78742 (index 396).
396 Success!
No valuation found for 300 Edwin Lane, 78742 (index 396). Appending list with null values
No year built for 300 Edwin Lane, 78742 (index 396). Appending list with null values
No bathrooms for 300 Edwin Lane, 78742 (index 396). Appending list with null values
Processing 2520 Pearce Road, 78730 (index 397).
397 Success!
No bathrooms for 2520 Pearce Road, 78730 (index 397). Appending list with null values
No bedrooms for 2520 Pearce Road, 78730 (index 397). Appending list with null values
Processing 1721 Palma Plaza, 78703 (index 398).
398 Success!
No bathrooms for 1721 Palma Plaza, 78703 (index 398). Appending list with null values
Processing 7213 Dee Street, 78745 (index 399).
No record found for 7213 Dee Street, 78745 (index 399). Appending lists with null values
Processing 5506 Salem Walk Drive, 78745 (index 400).
400 Success!
No bathrooms for 5506 Salem Walk Drive, 78745 (index 400). Appending list with null values
No bedrooms for 5506 Salem Walk Drive, 78745 (index 400). Appending list with null values
Processing 9405 Bell Mountain Drive, 78730 (index 401).

401 Success!
No bathrooms for 9405 Bell Mountain Drive, 78730 (index 401). Appending list with null values
Processing 2307 Kinney Road, 78704 (index 402).
402 Success!
No bathrooms for 2307 Kinney Road, 78704 (index 402). Appending list with null values
Processing 9500 Decker Lane, 78724 (index 403).
No record found for 9500 Decker Lane, 78724 (index 403). Appending lists with null values
Processing 9310 Burleson Road, 78719 (index 404).
No record found for 9310 Burleson Road, 78719 (index 404). Appending lists with null values
Processing 4722 Palisade Drive, 78731 (index 405).
405 Success!
No bathrooms for 4722 Palisade Drive, 78731 (index 405). Appending list with null values
Processing 6506 Auburnhill Street, 78723 (index 406).
406 Success!
No bathrooms for 6506 Auburnhill Street, 78723 (index 406). Appending list with null values
Processing 2300 Rosewood Avenue, 78702 (index 407).
No record found for 2300 Rosewood Avenue, 78702 (index 407). Appending lists with null values
Processing 11317 Cameron Road, 78754 (index 408).
No record found for 11317 Cameron Road, 78754 (index 408). Appending lists with null values
Processing 7828 Escala Drive, 78735 (index 409).
409 Success!
No bathrooms for 7828 Escala Drive, 78735 (index 409). Appending list with null values
Processing 6 Lovegrass Lane, 78745 (index 410).
No record found for 6 Lovegrass Lane, 78745 (index 410). Appending lists with null values
Processing 5016 Bee Caves Road, 78746 (index 411).
No record found for 5016 Bee Caves Road, 78746 (index 411). Appending lists with null values
Processing 10385 Old Lockhart Highway, 78747 (index 412).
No record found for 10385 Old Lockhart Highway, 78747 (index 412). Appending lists with null values
Processing 3105 Pleasant Run Place, 78703 (index 413).
413 Success!
No bathrooms for 3105 Pleasant Run Place, 78703 (index 413). Appending list with null values
Processing 10115 South Mary Moore Searight Drive, 78748 (index 414).
No record found for 10115 South Mary Moore Searight Drive, 78748 (index 414). Appending lists with null values
Processing 3909 Warehouse Row, 78704 (index 415).
No record found for 3909 Warehouse Row, 78704 (index 415). Appending lists with null values
Processing 7101 Malibu Cove, 78730 (index 416).
416 Success!
No bathrooms for 7101 Malibu Cove, 78730 (index 416). Appending list with null values
Processing 10385 Old Lockhart Highway, 78747 (index 417).
No record found for 10385 Old Lockhart Highway, 78747 (index 417). Appending lists with null values
Processing 5409 Vine Hill Drive, 78744 (index 418).
418 Success!
No valuation found for 5409 Vine Hill Drive, 78744 (index 418). Appending list with null values
No bathrooms for 5409 Vine Hill Drive, 78744 (index 418). Appending list with null values
No bedrooms for 5409 Vine Hill Drive, 78744 (index 418). Appending list with null values
Processing 3500 Comsouth Drive, 787 (index 419).
No record found for 3500 Comsouth Drive, 787 (index 419). Appending lists with null values
Processing 10592 Bilbrook Place, 78748 (index 420).
No record found for 10592 Bilbrook Place, 78748 (index 420). Appending lists with null values
Processing 2009 Loop 1, 78746 (index 421).
No record found for 2009 Loop 1, 78746 (index 421). Appending lists with null values
Processing 2815 Fruth Street, 78705 (index 422).
No record found for 2815 Fruth Street, 78705 (index 422). Appending lists with null values
Processing 605 East 56th Street, 78751 (index 423).
No record found for 605 East 56th Street, 78751 (index 423). Appending lists with null values
Processing 2419 Trail of the Madrones, 78746 (index 424).
424 Success!
No bathrooms for 2419 Trail of the Madrones, 78746 (index 424). Appending list with null values
No bedrooms for 2419 Trail of the Madrones, 78746 (index 424). Appending list with null values
Processing 7013 Gentle Oak Drive, 78749 (index 425).
425 Success!
No bathrooms for 7013 Gentle Oak Drive, 78749 (index 425). Appending list with null values
No bedrooms for 7013 Gentle Oak Drive, 78749 (index 425). Appending list with null values
Processing 11205 Real Quiet Drive, 78748 (index 426).
426 Success!
No bathrooms for 11205 Real Quiet Drive, 78748 (index 426). Appending list with null values
Processing 9607 Brown Lane, 78754 (index 427).
No record found for 9607 Brown Lane, 78754 (index 427). Appending lists with null values
Processing 9101 Curlew Drive, 78748 (index 428).
428 Success!
No bathrooms for 9101 Curlew Drive, 78748 (index 428). Appending list with null values
Processing 8313 Nicola Trail, 78745 (index 429).
429 Success!
No bathrooms for 8313 Nicola Trail, 78745 (index 429). Appending list with null values
Processing 2102 North Oak Canyon Road, 78746 (index 430).
430 Success!
No bathrooms for 2102 North Oak Canyon Road, 78746 (index 430). Appending list with null values
Processing 2108 Deleon Court, 78733 (index 431).
431 Success!
No bathrooms for 2108 Deleon Court, 78733 (index 431). Appending list with null values
Processing 8624 Acuarela Court, 78735 (index 432).
432 Success!
No bathrooms for 8624 Acuarela Court, 78735 (index 432). Appending list with null values
Processing 3208 South 5th Street, 78704 (index 433).
433 Success!
No bathrooms for 3208 South 5th Street, 78704 (index 433). Appending list with null values
No bedrooms for 3208 South 5th Street, 78704 (index 433). Appending list with null values
Processing 8475 Capital of Texas Highway, 78759 (index 434).
No record found for 8475 Capital of Texas Highway, 78759 (index 434). Appending lists with null values
Processing 3716 Bronco Bend Loop, 78742 (index 435).
435 Success!
No bathrooms for 3716 Bronco Bend Loop, 78742 (index 435). Appending list with null values
Processing 7905 Hergotz Lane, 78742 (index 436).
No record found for 7905 Hergotz Lane, 78742 (index 436). Appending lists with null values
Processing 3704 Harpers Ferry Lane, 78749 (index 437).
437 Success!
No bathrooms for 3704 Harpers Ferry Lane, 78749 (index 437). Appending list with null values
Processing 6107 Shadow Bend, 78745 (index 438).
438 Success!
No bathrooms for 6107 Shadow Bend, 78745 (index 438). Appending list with null values
No bedrooms for 6107 Shadow Bend, 78745 (index 438). Appending list with null values
Processing 3218 Clearview Drive, 78703 (index 439).
439 Success!
No bathrooms for 3218 Clearview Drive, 78703 (index 439). Appending list with null values
Processing 500 Double Fork Road, 78746 (index 440).
No record found for 500 Double Fork Road, 78746 (index 440). Appending lists with null values
Processing 1158 Lott Avenue, 78721 (index 441).
441 Success!
No bathrooms for 1158 Lott Avenue, 78721 (index 441). Appending list with null values

In [14]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT

# Checking to ensure lists are appropriate lengths
print(len(zid))
print(len(addresses))
print(len(alats))
print(len(alons))
print(len(valuation))
print(len(valChange))
print(len(valRhigh))
print(len(valRlow))
print(len(valPercent))
print(len(sqft))
print(len(lotsqft))
print(len(yearBuilt))
print(len(baths))
print(len(beds))
print(len(lastSold))
print(len(lastPrice))

# Referring back to addressList_csv generated dataframe for relevant info
sampleDF.head()

442
442
442
442
442
442
442
442
442
442
442
442
442
442
442
442

  house #             street  zipcode        lat        lon       neighborhood
0    8109  Boggy Ridge Drive    78748  30.182018 -97.795088   Dittmar - Cooper
1    8507      Caspian Drive    78749  30.199637 -97.841057  Woodstone Village
2     950     Westbank Drive    78746  30.278182 -97.809151           Ledgeway
3    4208       Steck Avenue    78759  30.377557 -97.757560        Mesa Forest
4     807     Park Boulevard    78751  30.301572 -97.722516          Hyde Park

In [15]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT

katSampleDF = pd.DataFrame({
    "zid": zid,
    "address": addresses,
    "zipcode": sampleDF["zipcode"],
    "alat": alats,
    "alon": alons,
    "valuation": valuation,
    "value_change": valChange,
    "value_range_high": valRhigh,
    "value_range_low": valRlow,
    "value_percentile": valPercent,
    "sqft": sqft,
#     "value sqft": valsqft,
    "lot_sqft": lotsqft,
    "year_built": yearBuilt,
    "bathrooms": baths,
    "bedrooms": beds,
    "last_sold_date": lastSold,
    "last_sold_price": lastPrice,
})

print(len(katSampleDF))
katSampleDF.head(10)

442

,zid,address,zipcode,alat,alon,valuation,value_change,value_range_high,value_range_low,value_percentile,sqft,lot_sqft,year_built,bathrooms,bedrooms,last_sold_date,last_sold_price
0,58316011,8109 Boggy Ridge Drive,78748,30.182015,-97.795063,278601.0,9703,292531,264671,0,1476,6003,1979.0,None,3.0,None,None
1,29498766,8507 Caspian Drive,78749,30.199658,-97.841024,313492.0,-1374,329167,297817,0,1654,15141,1983.0,None,NaN,None,None
2,2132336893,950 Westbank Drive,78746,30.278708,-97.808911,848997.0,27409,1256516,687688,0,1582,None,NaN,None,3.0,None,None
3,None,4208 Steck Avenue,78759,None,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None,None
4,29400629,807 Park Boulevard,78751,30.301584,-97.722499,556665.0,-39191,629031,517698,0,1905,12685,1936.0,None,NaN,None,None
5,None,10109 Slaughter Creek Drive,78748,None,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None,None
6,29462460,601 Jet Lane,78742,30.235276,-97.677214,258682.0,3979,276790,240574,0,1015,161128,1945.0,None,NaN,None,None
7,29349645,4409 Jessamine Hollow,78731,30.348537,-97.776564,519926.0,949,623911,483531,0,2900,5149,1977.0,None,NaN,None,None
8,None,8800 Daffan Lane,78724,None,None,NaN,None,None,None,None,None,None,NaN,None,NaN,None,None
9,29343151,4501 Ridge Oak Drive,78731,30.329848,-97.769843,2625759.0,-178712,3649805,2415698,0,10778,45011,1960.0,None,NaN,None,None

In [22]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT

katDFclean = katSampleDF.dropna(how="any", subset=["zid"])
len(katDFclean)

285

In [25]:
######################################################################################  MODIFIED TO CREATE SMALL SAMPLE FOR KAT

DFcsv(katDFclean, "./Data/Archived/katSampleData.csv")
katDFclean.head(30)

Successfully written to './Data/Archived/katSampleData.csv'

,zid,address,zipcode,alat,alon,valuation,value_change,value_range_high,value_range_low,value_percentile,sqft,lot_sqft,year_built,bathrooms,bedrooms,last_sold_date,last_sold_price
0,58316011,8109 Boggy Ridge Drive,78748,30.182015,-97.795063,278601.0,9703,292531,264671,0,1476,6003,1979.0,None,3.0,None,None
1,29498766,8507 Caspian Drive,78749,30.199658,-97.841024,313492.0,-1374,329167,297817,0,1654,15141,1983.0,None,NaN,None,None
2,2132336893,950 Westbank Drive,78746,30.278708,-97.808911,848997.0,27409,1256516,687688,0,1582,None,NaN,None,3.0,None,None
4,29400629,807 Park Boulevard,78751,30.301584,-97.722499,556665.0,-39191,629031,517698,0,1905,12685,1936.0,None,NaN,None,None
6,29462460,601 Jet Lane,78742,30.235276,-97.677214,258682.0,3979,276790,240574,0,1015,161128,1945.0,None,NaN,None,None
7,29349645,4409 Jessamine Hollow,78731,30.348537,-97.776564,519926.0,949,623911,483531,0,2900,5149,1977.0,None,NaN,None,None
9,29343151,4501 Ridge Oak Drive,78731,30.329848,-97.769843,2625759.0,-178712,3649805,2415698,0,10778,45011,1960.0,None,NaN,None,None
12,70339207,11201 Long Summer Drive,78754,30.359344,-97.640621,297039.0,3970,311891,282187,0,3183,7867,2006.0,None,NaN,None,None
13,58302468,504 East Braker Lane,78753,30.378232,-97.67872,254661.0,-3921,277580,236835,0,1264,9500,1959.0,None,NaN,None,None
14,29402786,5703 Coolbrook Drive,78724,30.304843,-97.656442,360639.0,-2969,385884,339001,0,2282,9936,1972.0,None,NaN,None,None
16,62607614,5301 East Stassney Lane,78744,30.191144,-97.731127,167191.0,-1704,185582,147128,0,1169,6961,2002.0,None,NaN,None,None
20,29340521,3109 Westlake Drive,78746,30.316228,-97.778918,2487931.0,-102288,2761603,2338655,0,5804,128493,1973.0,None,NaN,None,None
21,29398288,511 Harris Avenue,78705,30.29546,-97.730816,505603.0,326,546051,480323,0,1728,5131,1937.0,None,NaN,None,None
22,29504377,9420 Lightwood Loop,78748,30.188405,-97.838502,445768.0,-6706,472514,423480,0,3245,19410,1995.0,None,NaN,None,None
24,29481332,6404 Convict Hill Road,78749,30.226884,-97.870379,389527.0,1,409003,370051,0,2261,11935,1995.0,None,3.0,None,None
25,64475763,6113 Charis Court,78735,30.262235,-97.842581,1932385.0,8818,2144947,1681175,0,7171,96572,2003.0,None,5.0,11/01/2013,None
26,29341301,1400 Ridgecrest Drive,78746,30.31778,-97.800739,1315668.0,-11685,1420921,1197258,0,4286,46914,2003.0,None,4.0,05/01/2007,1200000
28,29367535,11339 Taylor Draper Lane,78759,30.415426,-97.75429,589813.0,12370,707776,495443,0,2299,115778,1959.0,None,NaN,None,None
29,79982248,3616 Sand Dunes Avenue,78742,30.19891,-97.692925,219810.0,852,235197,202225,0,1324,5924,2006.0,None,3.0,None,None
31,29404508,7002 Millrace Drive,78724,30.30785,-97.655392,232675.0,641,272230,216388,0,1972,8624,1980.0,None,0.0,None,None
32,29460810,2401 South Lakeshore Boulevard,78741,30.241655,-97.720707,NaN,None,None,None,0,701,611887,1968.0,None,1.0,None,None
37,64749934,7509 Escala Drive,78735,30.270642,-97.858661,2846753.0,-101866,3273766,2647480,0,10828,81282,2004.0,None,6.0,None,None
38,29474308,5621 Republic of Texas Boulevard,78735,30.250418,-97.842065,632905.0,23301,708854,550627,0,3360,9321,2000.0,None,5.0,None,None
39,29338862,2505 El Greco Cove,78703,30.30452,-97.774903,1571123.0,-31027,1681102,1414011,0,4934,10102,1982.0,None,NaN,None,None
43,70352233,7316 Turnbuoy Drive,78730,30.344875,-97.822436,1182530.0,8416,1277132,1087928,0,4267,44889,2006.0,None,NaN,03/18/2009,100000
44,58301656,4705 Avenue F,78751,30.311294,-97.724873,647063.0,-12136,679416,601769,0,2490,5183,2000.0,None,3.0,06/24/1999,181500
45,29386902,3401 Oak Springs Drive,78721,30.273597,-97.696247,361706.0,-15014,408728,325535,0,1365,8189,1938.0,None,3.0,03/28/2014,128000
47,29474357,5804 Wier Hills Road,78735,30.253076,-97.880705,298610.0,24339,450901,206041,0,432,282012,1996.0,None,NaN,None,None
48,29486832,5907 Blanco River Pass,78749,30.214798,-97.870105,322329.0,-2739,341669,306213,0,1501,8058,1986.0,None,4.0,None,None
49,29331348,9009 Wintercreeper Cove,78735,30.283667,-97.878447,1723748.0,91808,1930598,1551373,0,6735,68347,1991.0,None,6.0,None,None

In [ ]:
############### LOOPING FUNCTION FULLY OPERATIONAL ################
####### HOWEVER, ZILLOW ONLY ALLOWS 1000 API CALLS PER DAY #######

# Zillow API call function
def zCall(API, index, address, zipcode):
    APIkey = API[index]
    zillow_data = ZillowWrapper(APIkey)
    deep_search_response = zillow_data.get_deep_search_results(address, zipcode)
    result = GetDeepSearchResults(deep_search_response)
    return result

# List containers for collected property data
zid = []
addresses = []
alats = []
alons = []
valuation = []
sqft = []

# List of Zillow API keys to loop through due to daily API call limits
zAPIs = [Zapi, Zapi01, Zapi02, Zapi03, Zapi04, Zapi05, Zapi06, Zapi07, Zapi08, Zapi09, 
         Zapi10, Zapi11, Zapi12, Zapi13, Zapi14, Zapi15, Zapi16, Zapi17, Zapi18, Zapi19, 
         Zapi20, Ztroy1, Ztroy2, Ztroy3, Zseth, Zseth2, Zkat, Zval, Zyuta]
index = 0
    
for row, home in addressDF.iterrows():
    address = str(addressDF["house #"][row]) + " " + str(addressDF["street"][row])
    addresses.append(address)
    zipcode = addressDF["zipcode"][row]
    print(f"Processing {address}, {zipcode} (index {row}).")
    
    result = None
    try:
        try:
            result = zCall(zAPIs, index, address, zipcode)
            print(f"{row} Success!")
        except KeyError:  ### ERROR FOR API CALL LIMIT EXCEEDED ###
            print(f"KeyError has occurred for {address}, {zipcode} (index {row}).")
            index += 1
            print(f"Proceeding to API[{index}]")
            if index >= len(zAPIs):
                print(f"API[{index}] does not exist. Need more API keys to complete analysis.")
                break
            result = zCall(zAPIs, index, address, zipcode)

    except:
        print(f"No record found for {address}, {zipcode} (index {row}). Appending lists with null values")
        zid.append(None)
        alats.append(None)
        alons.append(None)
        valuation.append(None)
        sqft.append(None)
        continue

    try:
        zillowID = result.zillow_id
        zid.append(zillowID)
    except:
        print(f"No zid found for {address}, {zipcode} (index {row}). Appending list with null values")
        zid.append(None)

    try:
        alat = result.latitude
        alats.append(alat)
    except:
        print(f"No alat found for {address}, {zipcode} (index {row}). Appending list with null values")
        alats.append(None)

    try:
        alon = result.longitude
        alons.append(alon)
    except:
        print(f"No alon found for {address}, {zipcode} (index {row}). Appending list with null values")
        alons.append(None)

    try:    
        val = int(result.zestimate_amount)
        valuation.append(val)
    except:
        print(f"No valuation found for {address}, {zipcode} (index {row}). Appending list with null values")
        valuation.append(None)

    try:
        zsqft = int(result.home_size)
        sqft.append(zsqft)
    except:
        print(f"No sqft found for {address}, {zipcode} (index {row}). Appending list with null values")
        sqft.append(None)

In [ ]:
print(len(addresses))

## Master Dataframe Creation

In [ ]:
# Checking to ensure lists are appropriate lengths
print(len(zid))
print(len(alats))
print(len(alons))
print(len(addresses))
print(len(valuation))
print(len(sqft))
print(len(valsqft))

# Referring back to addressList_csv generated dataframe for relevant info
addressDF.head()

In [ ]:
# FULL SAMPLE FROM 40,000 RANDOM LAT, LON GENERATION

masterDF = pd.DataFrame({
    "Zillow ID": zid,
    "address": addresses,
    "zipcode": addressDF["zipcode"],
    "alat": alats,
    "alon": alons,
    "valuation": valuation,
    "sqft": sqft,
#     "value sqft": valsqft,
    "neighborhood": addressDF["neighborhood"],
})
print(len(masterDF))
masterDF.head(10)

In [ ]:
masterDFclean = masterDF.dropna(how="any", subset=["Zillow ID"])
len(masterDFclean)

In [ ]:
# masterDF to csv
masterDFclean.to_csv(masterData_csv, index=False, header=True)
masterDFclean.head(30)

## Zillow Data Cleaning

In [ ]:
masterDF = csvDF(masterData_csv)
print(len(masterDF))
masterDF.head()

In [ ]:
# DATA CLEANING #
# Dropping duplicates
masterDFdrops = masterDF.drop_duplicates(subset=["Zillow ID"], keep="first")
print(len(masterDFdrops))
masterDFdrops.head()

In [ ]:
# Cleaning out None values for "valuation"
masterDFdrops = masterDFdrops.dropna(how="any", subset=["valuation"])
print(len(masterDFdrops))
masterDFdrops.head()

In [ ]:
# Cleaning out None values for "sqft" 
masterDFdrops = masterDFdrops.dropna(how="any", subset=["sqft"])
print(len(masterDFdrops))
masterDFdrops.head()

### Calculate Value per Sqft

In [ ]:
# Calculate "value sqft" after None value rows removed for "valuation" and "sqft"

valsqft = []
for row, value in masterDFdrops.iterrows():
    try:
        vsqft = round((masterDFdrops["valuation"][row] / masterDFdrops["sqft"][row]), 2)
        valsqft.append(vsqft)
    except: ### THIS ERROR SHOULD NO LONGER PRINT BECAUSE NONE VALUES WERE PREVIOUSLY REMOVED
        print("Cannot perform math with NoneType")
        valsqft.append(None)

In [ ]:
# Checking to ensure lists are appropriate lengths
print(len(masterDFdrops))
print(len(valsqft))

In [ ]:
# Adding "value sqft" column
masterDFdrops["value sqft"] = valsqft

# Reordering columns
masterDFdrops = masterDFdrops[['Zillow ID', 'address', 'zipcode', 'alat', 'alon', 'valuation', 'sqft', 
                               'value sqft', 'neighborhood', 'tractCode', 'countyFips', 'stateFips', 'commuteTime']]
masterDFdrops.head()

In [ ]:
DFcsv(masterDFdrops, masterDFIMPORTclean_csv)

In [ ]:
masterDFcleaning = csvDF(masterDFIMPORTclean_csv)
masterDFcleaning.head()

In [ ]:
# Function for finding and dropping rows with nonsense values (e.g. valuation > $10,000,000)
def dropNonsense(dataframe, columnName, minVal, maxVal):
    dropIndices = []
    for index, row in dataframe.iterrows():
        val = dataframe[columnName][index]
        if (maxVal is not None) and (val > maxVal) or (minVal is not None) and (val < minVal):
            dropIndices.append(index)
    return dataframe.drop(index=dropIndices)

In [ ]:
# Establish reasonable values for columns
reasonableVals = [
    ("valuation", 20000, 10000000),
    ("sqft", 500, 10000),
    ("value sqft", 0, 1500)
]

# Loop through dataframe to drop nonsense data
masterDFcleaning = masterDFcleaning
for entry in reasonableVals:
    masterDFcleaning = dropNonsense(masterDFcleaning, entry[0], entry[1], entry[2])

# Confirm count
len(masterDFcleaning)

In [ ]:
# Checking high and low values with sort
masterDFcleaning.sort_values(by="value sqft", ascending=False)

In [ ]:
print(len(masterDFcleaning))
DFcsv(masterDFcleaning, masterDataCLEAN_csv)

### Merging Master Data with Commute Times

In [ ]:
commuteDF = csvDF("./Data/masterData.csv")
commuteDF.head()
print(len(commuteDF))
print(len(masterDFcleaning))
print("Commute")
print(commuteDF.dtypes)
print("Master")
print(masterDFcleaning.dtypes)
commuteDF.head()

In [ ]:
MASTERdf = pd.merge(masterDFcleaning, 
                    commuteDF[['tractCode', 'countyFips', 'stateFips', 'commuteTime']], 
                    how="left",
                    on='Zillow ID')

In [ ]:
print(len(MASTERdf))
MASTERdf.head()

## Plot Zillow Matched Addresses on a Map

In [18]:
# This cell by Troy
# This section will plot points on a Google map centered at centerPointLat and centerPointLon with a magnification of magFactor
# It plots the Zillow addresses we have matched from our randomly selected 
# The resulting map is saved to a file called addressMap.html

masterData_df = pd.read_csv("./Data/masterDataCLEAN.csv")
centerPointLat = 30.27444  #these are the coordinates of the Texas State Capitol building
centerPointLon = -97.74028 #these are the coordinates of the Texas State Capitol building
magnificationFactor = 10
pointColor = "green"
pointSize = 100
mapOutputFile = "masterDataMap.html"
df = masterData_df

gmap = gmplot.GoogleMapPlotter(centerPointLat, centerPointLon, magnificationFactor)

gmap.scatter(df["alat"], df["alon"], pointColor, size=pointSize, marker=False)

gmap.draw("./Presentation/" + mapOutputFile)

len(df)

8530

## Crime Data

In [ ]:
# Kat's section

## School Data

In [ ]:
# Seth's section

##  Commute Time Data

In [ ]:
# Troy's section

# This section reads the masterData csv file and uses the lat lon coordinates to get the us census tract code for that address
# It then uses the tract code to access the average commute times reported for that tract


# Load in data frame from file with lat and lon
masterData_df = pd.read_csv(masterData_csv)


lats = masterData_df['alat']
lons = masterData_df['alon']

# Set up arrays for new data
tractCodeList = []
countyFipsList = []
stateFipsList = []


# Use us census API to get state fips, county fips, and tract code for all addr in dataframe
for lat, lon in zip(lats,lons):
    print("getting data for " + str(lat) + str(lon))
    targetUrl = "https://geocoding.geo.census.gov/geocoder/geographies/coordinates?x=" + str(lon) + "&y=" + str(lat) + "&benchmark=Public_AR_Census2010&vintage=Census2010_Census2010&layers=14&format=json"
    results = requests.get(targetUrl).json()
    print(results)
    tractCodeList.append(results["result"]["geographies"]["Census Blocks"][0]["TRACT"])
    countyFipsList.append(results["result"]["geographies"]["Census Blocks"][0]["COUNTY"])
    stateFipsList.append(results["result"]["geographies"]["Census Blocks"][0]["STATE"])
    
# Load new data into masterData
masterData_df["tractCode"] = tractCodeList
masterData_df["countyFips"] = countyFipsList
masterData_df["stateFips"] = stateFipsList

masterData_df.head()

In [ ]:
masterData_df.to_csv(masterData_csv, index=False, header=True)

In [ ]:
# This cell uses us census state fips, county fips, and tract code to access commute times


# Set up list to hold new data
commuteTimeList = []

loopCounter = 0

# Use us census API to get commute time from state, county and tract
for state, county, tract in zip(stateFipsList, countyFipsList ,tractCodeList):
    print("getting data for " + state + county + tract)
    loopCounter += 1
    print(loopCounter)
    targetUrl = "https://api.census.gov/data/2016/acs/acs5/profile?get=DP03_0025E,NAME&for=tract:" + tract + "&in=state:" + state + " county:" + county + "&key=" + census_API_Key
    results = requests.get(targetUrl).json()
    #print(results)
    commuteTimeList.append(results[1][0])

# Add commute time to masterData_df
masterData_df["commuteTime"] = commuteTimeList

# write a CSV
#masterData_df.to_csv(masterData_csv, index=False, header=True)

masterData_df.head()

In [ ]:
masterData_df.to_csv(masterData_csv, index=False, header=True)

## Heat Mapper

In [ ]:
# Troy's section


gmaps.configure(api_key=google_API_Key)

In [ ]:
# This cell creates a test masterData_df by pulling in Yuta's address file and adds a column as a testm "value to map"
# This cell can be deleted as soon as there is a master data file that includes a property value column or some other value to plot
# The last digit of the zipcode is used as a value that will vary by area and a random number between 0 and 1 is added to create variation in the weights

masterData_df = pd.read_csv(addressList_csv)
zips = masterData_df["zipcode"]
valueToMap = []

for zip in zips:
    lastDigit = zip[-1:]
#    print(last2Digits)
    valueToMap.append(int(lastDigit) + random.uniform(0.0,1.0))
    
masterData_df["valueToMap"] = valueToMap
masterData_df.head()

In [ ]:
# This cell uses gmaps library to create a google heat map from the data in a master data file.
# The masterData csv file is taken as input
# The lat and lon columns are taken as the coordinates for hte heatmap 
# The user specified column is taken as the weighting valies fo each coordinate point

df = masterData_df
columnToMap = 'valueToMap'
max_intensity = df[columnToMap].max()

fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(df[['lat', 'lon']], weights=df[columnToMap], max_intensity=max_intensity, point_radius=10.0)
fig.add_layer(heatmap_layer)
fig

In [ ]:
# this is a function version of the cell above
# the function takes columnToMap as the weights for the points defined by 'lat' and 'lon' columns in the dataframe
# the dataframe can be included as a parameter, if it is not included masterData_df is assumed

def heatMapper(columnToMap, df = masterData_df):
    
    max_intensity = df[columnToMap].max()
    
    fig = gmaps.figure()
    heatmap_layer = gmaps.heatmap_layer(df[['lat', 'lon']], weights=df[columnToMap], max_intensity=max_intensity, point_radius=10.0)
    fig.add_layer(heatmap_layer)

    return;

In [ ]:
heatMapper(columnToMap = 'valueToMap')
fig