In [65]:
import geopandas as gpd
import pandas as pd

In [66]:
df = gpd.read_file('../data/Zipcodes.geojson')

In [75]:
df.head()

,Name,description,number_of_records,objectid,zipcode,zipcodes_id,geometry
0,AUSTIN,None,45,51,78702,45,"(POLYGON ((-97.69186838400699 30.248482149129,..."
1,LIBERTY HILL,None,,26,78642,20,"(POLYGON ((-97.89359001287301 30.782117310707,..."
2,AUSTIN,None,30,11,78752,5,"(POLYGON ((-97.686347884619 30.332598550963, -..."
3,AUSTIN,None,25,32,78747,26,"(POLYGON ((-97.73618056605601 30.159870363356,..."
4,MANOR,None,2,29,78653,23,"(POLYGON ((-97.501494615524 30.477330039287, -..."

In [76]:
len(df)

80

In [78]:
zipsToDrop = [78628, 78626, 78634, 78640, 78611, 78605, 78654, 78642, 76530, 76574, 78615, 78621, 78602, 78612, 78662, 78616, 78644, 78655, 78656, 78666, 78676, 78636, 78663, 78654]
# for zip in zipsToDrop:
#         print(zip);
len(zipsToDrop)

24

In [71]:
newDF = gpd.GeoDataFrame()

for index, row in df.iterrows():
    keep = True
    for zip in zipsToDrop:
        if int(row['zipcode']) == zip:
            print(row['zipcode'] + " " + str(zip))
            keep = False
    if keep:
        newDF = newDF.append(df.iloc[index])
        print(index)
len(newDF)

0
78642 78642
2
3
4
5
6
7
78621 78621
9
10
78662 78662
12
13
14
15
76574 76574
17
78676 78676
19
20
21
22
23
24
78626 78626
26
27
28
78612 78612
78634 78634
31
32
78663 78663
78666 78666
35
78654 78654
78654 78654
78628 78628
38
39
78656 78656
41
42
43
44
45
46
47
48
49
78615 78615
78616 78616
52
53
54
78602 78602
56
57
78655 78655
59
60
61
62
78644 78644
64
65
66
67
68
76530 76530
78640 78640
78636 78636
72
73
74
78611 78611
76
77
78
78605 78605

57

In [79]:
newDF.head()

,Name,description,geometry,number_of_records,objectid,zipcode,zipcodes_id
0,AUSTIN,None,"(POLYGON ((-97.69186838400699 30.248482149129,...",45,51,78702,45
2,AUSTIN,None,"(POLYGON ((-97.686347884619 30.332598550963, -...",30,11,78752,5
3,AUSTIN,None,"(POLYGON ((-97.73618056605601 30.159870363356,...",25,32,78747,26
4,MANOR,None,"(POLYGON ((-97.501494615524 30.477330039287, -...",2,29,78653,23
5,AUSTIN,None,"(POLYGON ((-97.84398150237401 30.393578155125,...",2,52,78730,46

In [74]:
newDF.to_file('../data/greaterAustinZipcodes.geojson', driver="GeoJSON")

In [ ]:
zipsToDrop = [78611, 78605, 78654, 78642, 76530, 76574, 78615, 78621, 78602, 78612, 78662, 78616, 78644, 78655, 78656, 78666, 78676, 78636, 78663, 78654]